<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''PROMO_CATEGORY_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{promoCategory}">Promo Category</title>
</head>

<body data-menu="promocategory">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
 		<ol class="breadcrumb">
     		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
       		<li class="breadcrumb-item"><a th:href="@{/promocategory}" th:text="#{promoCategory}">Promo Category</a></li>
         	<li class="breadcrumb-item active" aria-current="page" th:text="#{form}">Form</li>
   		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
		<form th:object="${promoCategory}" th:action="@{/promocategory}" method="post" autocomplete="off">
        	<th:block th:if="${promoCategory}">
            	<div class="row">
               		<div class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-6">
                   		<div class="form-group">
                         	<label for="name" th:text="|#{name} *|">Name *</label>
                          	<input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:placeholder="#{name}" th:field="*{name}" maxlength="40" />
                         	<div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:uerrors="*{name}">Error</div>
                      	</div>
                   	</div>
               	</div>
            	<div th:replace="fragment/audit-form.html :: content"></div>
       		</th:block>
         	<div class="toolbar">
            	<a class="btn btn-sm btn-secondary" href="javascript:back();">
               		<span class="icon-left" th:text="#{back}">Back</span>
              	</a>
              	<th:block th:if="${promoCategory}">
	             	<button class="btn btn-sm btn-primary" type="submit" th:if="${isMaker && !promoCategory.pending}">
	                	<span class="icon-floppy" th:text="#{save}">Save</span>
	            	</button>
            	</th:block>
          	</div>
		</form>
	</div>
</body>

</html>