<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="contextPath" content="/" th:content="@{/}" />
    <title th:text="|#{application.name} : #{promoCategory}|"></title>
    <link href="/static/image/favicon.png" th:href="@{/static/image/favicon.png}" rel="shorcut icon" />
    <link href="/static/css/all.min.css" th:href="@{/static/css/all.min.css}" rel="stylesheet" />
</head>

<body>
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item"><a href="/promocategory/promocategory-view.html" th:href="@{/promocategory}" th:text="#{promoCategory}">Promo Category</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{form}">Form</li>
            </ol>
        </nav>
        <div id="main-content">
            <!-- MESSAGE -->
            <div class="border alert alert-light text-center" role="alert" th:if="${error}">
                <span class="icon-attention"></span> <span th:text="${error}">Data ['xxxx'] is not found</span>
            </div>
            <!-- FORM -->
            <th:block th:if="${promocategory}">
                <form action="/promocategory/promocategory-view.html" th:object="${promocategory}" th:action="@{/promocategory}" method="post" autocomplete="off" onsubmit="return AjaxUtil.submit(this)">
                    <div class="row" th:object="${promocategory}">
                        <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <label for="name" th:text="|#{name} *|">Name *</label>
                                <input class="form-control" type="text" th:placeholder="#{name}" th:field="*{name}" maxlength="40" />
                            </div>
                        </div>
                    </div>
                    <!-- HIDDEN -->
                    <input type="hidden" id="id" th:field="*{id}" th:if="*{id != null}"/>
                    <input type="hidden" th:field="*{createdBy}"/>
                    <input type="hidden" th:field="*{createdDate}"/>
                    <input type="hidden" th:field="*{lastModifiedBy}"/>
                    <input type="hidden" th:field="*{lastModifiedDate}"/>
                    <!-- TOOLBAR -->
                    <div class="toolbar">
                        <a class="btn btn-light" href="/promocategory/promocategory-view.html" th:href="@{/promocategory}">
                            <span class="icon-left" th:text="#{back}">Back</span>
                        </a>
                        <button class="btn btn-light text-primary" type="submit">
                            <span class="icon-floppy" th:text="#{save}">Save</span>
                        </button>
                    </div>
                </form>
            </th:block>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <script src="/static/js/all.min.js" th:src="@{/static/js/all.min.js}"></script>
    <script src="/static/js/fragment.js" th:remove="all"></script>
</body>

</html>