<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''PROMO_CATEGORY_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{promocategory}">Promo Category</title>
</head>

<body data-menu="promocategory">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
		<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
         	<li class="breadcrumb-item active" aria-current="page" th:text="#{promocategory}">Promo Category</li>
		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/search.html :: content('/promocategory', ${isMaker})"></div>
		<div class="table-responsive border border-top-0" th:if="${page.getTotalElements() > 0}">
	            <table class="table table-sm table-striped table-hover border-bottom">
	                <thead>
	                    <tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
	                        <th style="width:40px"></th>
							<th style="width:40px">#</th>
	                        <th th:with="sort=|&sort=name,${ascending ? 'DESC' : 'ASC'}|">
                                <a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                	<span th:text="#{name}">Name</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                </a>
                            </th>
	                    </tr>
	                </thead>
	                <tbody th:remove="all-but-first">
	                    <tr th:each="promocategory,row : ${page}">
	                        <td class="py-0 px-1">
								<div class="dropdown">
									<button type="button" class="btn btn-default dropdown-toggle px-1 py-0 font-12" id="dropdownMenuButton" data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="icon-cog"></span>
									</button>
									<div class="dropdown-menu py-0 shadow" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item pl-1" href="/promocategory/promocategory-detail.html" th:href="@{|/promocategory/${promocategory.id}/detail|}">
										    <span class="icon-eye"></span> <span th:text="#{detail}">Detail</span>
                                        </a>
                                        <th:block th:if="${isMaker && !promocategory.pending}">
                                            <a class="dropdown-item pl-1" href="/promocategory/promocategory-form.html" th:href="@{|/promocategory/${promocategory.id}|}">
                                                <span class="icon-edit"></span> <span th:text="#{edit}">Edit</span>
                                            </a>
											<div class="dropdown-divider my-0"></div>
											<button class="dropdown-item pl-1 text-danger" title="/promocategory/delete/promocategory-view.html/1" th:title="@{|/promocategory/delete/${promocategory.id}|}"  data-toggle="modal" data-target="#delete-modal">
												<span class="icon-trash"></span> <span th:text="#{delete}">Delete</span>
											</button>
										</th:block>
									</div>
								</div>
							</td>
	                        <td th:text="${row.count + (page.number * page.size)}">1</td>
	                        <td th:text="${promocategory.name}">Promo Category Name</td>
	                    </tr>
	                </tbody>
	            </table>
		</div>
		<div th:replace="fragment/not-found.html :: content"></div>
		<div th:replace="fragment/pager.html :: content"></div>
		<div th:replace="fragment/toast.html :: content"></div>
		<div th:replace="fragment/delete-modal.html :: content"></div>
	</div>
</body>

</html>