<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''PROMO_CATEGORY_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{promocategory}">Promo Category</title>
</head>

<body data-menu="promocategory">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
   		<ol class="breadcrumb">
    		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
        	<li class="breadcrumb-item"><a th:href="@{/promocategory}" th:text="#{promoCategory}">Promo Category</a></li>
         	<li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
     	</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
      	<div class="table-responsive border border-top-0" th:if="${promoCategory}">
         	<table class="table table-sm table-detail">
           		<tbody>
              		<tr>
                     	<th th:text="#{id}">Id</th>
                     	<td th:text="${promoCategory.id}">ZwOkjFmG</td>
                	</tr>
                  	<tr>
                     	<th th:text="#{name}">Name</th>
                      	<td th:text="${promoCategory.name}">Admin</td>
                	</tr>
                    <tr th:replace="fragment/audit-detail.html :: content(data=${promoCategory})"></tr>
            	</tbody>
        	</table>
     	</div>
      	<div class="toolbar">
         	<a class="btn btn-sm btn-secondary" href="javascript:back();">
            	<span class="icon-left"></span> <span th:text="#{back}">Back</span>
          	</a>
       	</div>
	</div>
</body>

</html>