<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''APPOINTMENT_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{appointment}">Appointment</title>
</head>

<body data-menu="appointment">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
    	<ol class="breadcrumb">
        	<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
          	<li class="breadcrumb-item"><a th:href="@{/appointment}" th:text="#{appointment}">Appointment</a></li>
         	<li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
      	</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
     	<div class="table-responsive border border-top-0" th:if="${appointment}">
        	<table class="table table-sm table-detail" style="min-width: 400px;">
           		<tbody>
               		<tr>
                 		<th style="width:200px;" th:text="#{id}">Id</th>
                     	<td th:text="${appointment.id}">Id</td>
               		</tr>
                	<tr>
                     	<th th:text="#{firstName}">First Name</th>
                    	<td th:text="${appointment.customer.firstName}">First Name</td>
                   	</tr>
                   	<tr>
                     	<th th:text="#{lastName}">Last Name</th>
                    	<td th:text="${appointment.customer.lastName}">Last Name</td>
                   	</tr>
                  	<tr>
                      	<th th:text="#{medicalProvider}">Medical Provider</th>
                      	<td th:text="${appointment.medicalProvider.name}">BIOTEST INDONESIA</td>
                   	</tr>
                  	<tr th:if="${appointment.medicalProviderCity}">
                     	<th th:text="#{city}">City</th>
                      	<td th:text="${appointment.medicalProviderCity.name}">Jakarta</td>
                   	</tr>
                  	<tr th:if="${appointment.medicalProviderBranch}">
                      	<th th:text="#{branch}">Branch</th>
                      	<td th:text="${appointment.medicalProviderBranch.address}">Jl. Sumatra No. 48</td>
                  	</tr>
                  	<tr>
                      	<th th:text="#{healthPackage}">Health Package</th>
                      	<td th:text="${appointment.healthPackage.name}">Package 1</td>
                  	</tr>
                  	<tr>
                     	<th th:text="#{date}">Date</th>
                     	<td><span th:data-date="${@dateService.jsDate()}" th:text="${appointment.date}">2019-05-01T21:24:44Z</span></td>
                  	</tr>
                  	<tr>
                     	<th th:text="#{time}">Time</th>
                     	<td><span th:text="${appointment.time}">2019-05-01T21:24:44Z</span></td>
                  	</tr>
           			<tr th:replace="fragment/audit-detail.html :: content(data=${appointment})"></tr>
           		</tbody>
        	</table>
      	</div>
   		<div class="toolbar">
         	<a class="btn btn-sm btn-secondary" href="javascript:back();">
           		<span class="icon-left"></span> <span th:text="#{back}">Back</span>
          	</a>
      	</div>
	</div>
</body>

</html>