<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/head.html :: content(title=#{menu.promo})"></head>

<body>
	<div th:replace="fragment/navbar.html :: content"></div>
	<div class="bg-white">
		<nav aria-label="breadcrumb">
	        <ol class="breadcrumb border-bottom">
	            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{menu.home}"></a></li>
	            <li class="breadcrumb-item"><a th:href="@{/promos}" th:text="#{menu.promo}"></a></li>
	            <li class="breadcrumb-item active" aria-current="page" th:text="#{menu.form}"></li>
	        </ol>
	    </nav>
		<div class="container-fluid pb-3">
			<div class="min-height border p-3">
					<div class="row no-gutters">
						<div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
							<div class="border alert alert-light text-center" role="alert" th:if="${error}">
				                <i class="icon-attention"></i> <span th:text="${error}"></span>
				            </div>
							<form th:action="@{/promos}" th:object="${promo}" method="post" autocomplete="off" onsubmit="return Data.submit(this)" th:if="role != null">
								<div class="form-group" th:if="${promo.id != null}">
									<label for="id" th:text="#{label.id}">Id</label>
									<input class="form-control" type="text" th:field="*{id}" readonly="readonly" />
								</div>
								<div class="form-group">
									<label for="code" th:text="|#{label.code} *|">Code *</label>
									<input class="form-control" type="text" th:placeholder="#{label.code}" th:field="*{code}" maxlength="40" />
								</div>
								<div th:replace="fragment/audit.html :: content(${promo})"></div>
								<a class="btn btn-sm btn-secondary px-3" th:href="@{/promos}">
									<i class="icon-left"></i> <span th:text="#{label.back}"></span>
								</a>
								<button class="btn btn-sm btn-primary px-3" type="submit" sec:authorize="hasRole('PROMO')">
									<i class="icon-floppy"></i> <span th:text="#{label.save}"></span>
								</button>
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div th:replace="fragment/footer.html :: content"></div>
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>