node_modules
dist
generated
/target/
/src/main/resources/templates-dist/
/src/main/resources/static/css-dist/
/src/main/resources/static/js-dist/
!.mvn/wrapper/maven-wrapper.jar

/log/
*.log

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
