<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''EVENT_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{event}">Event</title>
</head>

<body data-menu="event">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
		<ol class="breadcrumb">
        	<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
         	<li class="breadcrumb-item"><a th:href="@{/event}" th:text="#{event}">Event</a></li>
        	<li class="breadcrumb-item active" aria-current="page" th:text="#{form}">Form</li>
     	</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
     	<form th:action="@{/event}" th:object="${event}" method="post" autocomplete="off" enctype="multipart/form-data">
        	<th:block th:if="${event}">
               		<div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="title" th:text="|#{title} *|">Title *</label>
                                    <textarea class="form-control" th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}" th:field="*{title}" rows="3" maxlength="255"></textarea>
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:uerrors="*{description}">Error</div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
									<label for="description" th:text="#{description} + ' *'">Description *</label>
									<textarea class="form-control" th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}" th:field="*{description}" rows="3" maxlength="255"></textarea>
									<div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:uerrors="*{description}">Error</div>
								</div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
                            	<div class="row">
	                            	<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
	                            		<div class="form-group">
	                            			<label for="startPeriodDatetime" th:text="|#{startPeriod} *|">Start Period *</label>
	                            			<div id="startPeriodDatetime"></div>
	                            		</div>
	                            	</div>
                            		<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
                            			<div class="form-group">
	                            			<label for="endPeriodDatetime" th:text="|#{endPeriod} *|">End Period *</label>
	                            			<div id="endPeriodDatetime"></div>
	                            		</div>
                            		</div>
                            	</div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="place" th:text="|#{place} *|">Place *</label>
                                    <input class="form-control" th:classappend="${#fields.hasErrors('place') ? 'is-invalid' : ''}" type="text" th:field="*{place}" />
                                    <div class="invalid-feedback" th:if="${#fields.hasErrors('place')}" th:uerrors="*{place}">Error</div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group" th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}">
									<label for="content" th:text="#{content} + ' *'">Content *</label>
									<textarea class="form-control" id="content" th:field="*{content}" rows="6"></textarea>
								</div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" th:if="*{id != null}">
								<div class="form-group">
									<label for="image" th:text="#{image}">Image</label>
									<div class="d-block overflow-auto">
										<img class="border p-1" alt="image" src="/image/500x200.png" th:src="@{|/image/${event.id}|}" />
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
								<div class="form-group">
									<div class="custom-file">
										<input type="file" accept="image/png,image/jpg,image/jpeg" class="custom-file-input" th:classappend="${#fields.hasErrors('multipartFileImage') ? 'is-invalid' : ''}" id="multipartFileImage" name="multipartFileImage" onchange="ImageUtil.show(this)">
										<label class="custom-file-label" th:text="#{chooseImageFile}"></label>
										<div class="invalid-feedback" th:if="${#fields.hasErrors('multipartFileImage')}" th:uerrors="*{multipartFileImage}">Error</div>
									</div>
								</div>
							</div>
                            <div class="col-12">
                                <div class="form-group" id="preview-image" style="display: none;">
                                    <div class="d-block overflow-auto">
                                        <img class="border p-1" alt="image" src="" />
                                    </div>
                                </div>
                            </div>
                        </div>
           		<div class="row">
                        	<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" accept="application/pdf" class="custom-file-input" th:classappend="${#fields.hasErrors('multipartFileMaterial') ? 'is-invalid' : ''}" id="multipartFileMaterial" name="multipartFileMaterial">
                                        <label class="custom-file-label" th:text="#{chooseMaterialFile}"></label>
                                        <div class="invalid-feedback" th:if="${#fields.hasErrors('multipartFileMaterial')}" th:uerrors="*{multipartFileMaterial}">Error</div>
                                    </div>
                                </div>
                            </div>
               	</div>
             	<input type="hidden" th:field="*{startPeriod}"/>
                <input type="hidden" th:field="*{endPeriod}"/>
           		<div th:replace="fragment/audit-form.html :: content"></div>
			</th:block>
        	<div class="toolbar">
           		<a class="btn btn-sm btn-secondary" th:href="@{/event}">
                 	<span class="icon-left" th:text="#{back}">Back</span>
             	</a>
             	<th:block th:if="${event}">
	               	<button class="btn btn-sm btn-primary" type="submit" th:if="${isMaker && !event.pending}">
	               		<span class="icon-floppy" th:text="#{save}">Save</span>
	              	</button>
              	</th:block>
         	</div>
  		</form>
  		<div id="jsDate" th:text="${@dateService.jsDate()}" class="hidden"></div>
		<div id="jsDatetime" th:text="${@dateService.jsDatetime()}" class="hidden"></div>
	</div>
</body>

</html>
