<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''EVENT_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{event}">Event</title>
</head>

<body data-menu="event">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
		<ol class="breadcrumb">
  			<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
       		<li class="breadcrumb-item active" aria-current="page" th:text="#{event}">Event</li>
 		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/search.html :: content('/event', ${isMaker})"></div>
		<div class="table-responsive border border-top-0" th:if="${page.getTotalElements() > 0}">
	            <table class="table table-sm table-striped table-hover border-bottom" style="min-width: 800px;">
	                <thead>
	                    <tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
	                        <th style="width:40px"></th>
							<th style="width:40px">#</th>
	                        <th th:with="sort=|&sort=title,${ascending ? 'DESC' : 'ASC'}|">
                                <a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                	<span th:text="#{title}">Title</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                </a>
                            </th>
                            <th th:text="#{description}">Description</th>
	                    </tr>
	                </thead>
	                <tbody th:remove="all-but-first">
	                    <tr th:each="event,row : ${page}">
	                        <td class="py-0 px-1">
								<div class="dropdown">
									<button type="button" class="btn btn-default dropdown-toggle px-1 py-0 font-12" id="dropdownMenuButton" data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="icon-cog"></span>
									</button>
									<div class="dropdown-menu py-0 shadow" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item pl-1" href="/event/event-detail.html" th:href="@{|/event/${event.id}/detail|}">
										    <span class="icon-eye"></span> <span th:text="#{detail}">Detail</span>
                                        </a>
                                        <a class="dropdown-item pl-1" href="/event/event-customer.html" th:href="@{|/event/${event.id}/customer|}">
										    <span class="icon-user-circle"></span> <span th:text="#{customer}">Customer</span>
                                        </a>
                                        <th:block th:if="${isMaker && (event.pending == null || !event.pending)}">
                                            <a class="dropdown-item pl-1" href="/event/event-feedback.html" th:href="@{|/event/${event.id}/feedback|}">
                                                <span class="icon-thumbs-up"></span> <span th:text="#{feedback}">Feedback</span>
                                            </a>    
                                            <a class="dropdown-item pl-1" href="/event/event-form.html" th:href="@{|/event/${event.id}|}">
                                                <span class="icon-edit"></span> <span th:text="#{edit}">Edit</span>
                                            </a>
											<div class="dropdown-divider my-0"></div>
											<a class="dropdown-item pl-1 text-danger" href="/event/event-view.html/1" th:href="@{|/event/${event.id}|}" onclick="return AjaxUtil.confirm(this)">
												<span class="icon-trash"></span> <span th:text="#{delete}">Delete</span>
											</a>
										</th:block>
									</div>
								</div>
							</td>
	                        <td th:text="${row.count + (page.number * page.size)}">1</td>
                            <td th:text="${event.title}">Digital Marketing Leaders Summit Jakarta 2019</td>
                            <td th:text="${event.description}">Join us at Asia's most anticipated and influential Digital Marketing conference, taking your place alongside more than 100 senior marketers and digital strategists over 2 days of networking and learning.</td>
	                    </tr>
	                </tbody>
	            </table>
		</div>
		<div th:replace="fragment/not-found.html :: content"></div>
		<div th:replace="fragment/pager.html :: content"></div>
		<div th:replace="fragment/toast.html :: content"></div>
		<div th:replace="fragment/delete-modal.html :: content"></div>
	</div>
</body>

</html>