<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''EVENT_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{event}">Event</title>
</head>

<body data-menu="event">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
    	<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
         	<li class="breadcrumb-item"><a th:href="@{/event}" th:text="#{event}">Event</a></li>
          	<li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
     	</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
      	<div class="table-responsive border border-top-0" th:if="${event}">
        	<table class="table table-sm table-detail">
           		<tbody>
              		<tr>
                  		<th th:text="#{id}">Id</th>
                      	<td th:text="${event.id}">qNj1ZAsi</td>
                   	</tr>
                   	<tr>
                 		<th th:text="#{title}">Title</th>
                    	<td th:text="${event.title}">Digital Marketing Leaders Summit Jakarta 2019</td>
                 	</tr>
                            <tr>
                                <th th:text="#{description}">Description</th>
                                <td th:text="${event.description}">Join us at Asia's most anticipated and influential Digital Marketing conference, taking your place alongside more than 100 senior marketers and digital strategists over 2 days of networking and learning.</td>
                            </tr>
                            <tr>
                                <th th:text="#{content}">Content</th>
                                <td th:utext="${event.content}">Join us at Asia's most anticipated and influential Digital Marketing conference, taking your place alongside more than 100 senior marketers and digital strategists over 2 days of networking and learning.</td>
                            </tr>
                            <tr th:if="${event.startPeriod}">
                                <th th:text="#{startPeriod}">Start Period</th>
                                <td><span th:data-date="${@dateService.jsDate()}" th:text="${event.startPeriod}">2019-05-01</span></td>
                            </tr>
                            <tr th:if="${event.endPeriod}">
                                <th th:text="#{endPeriod}">End Period</th>
                                <td><span th:data-date="${@dateService.jsDate()}" th:text="${event.endPeriod}">2019-05-01</span></td>
                            </tr>
                            <tr>
                                <th th:text="#{timePeriod}">Time Period</th>
                                <td><span th:data-date="${@dateService.jsTime()}" th:text="${event.endPeriod}">2019-05-01</span></td>
                            </tr>
                            <tr>
                                <th th:text="#{place}">Place</th>
                                <td th:text="${event.place}">Crown Plaza Jakarta</td>
                            </tr>
                            <tr>
                                <th th:text="#{image}">Image</th>
                                <td>
                                    <div class="d-block overflow-auto">
                                        <img class="border p-1" alt="image" src="" th:src="@{|/image/${event.id}|}" />
                                    </div>
                                </td>
                            </tr>
                 	<tr>
                   		<th th:text="#{material}">Material</th>
                    	<td>
                       		<a class="btn btn-sm btn-light" role="button" aria-pressed="true" th:href="@{|/pdf/${event.id}|}" onclick="return openNewTab(this);">
                            	<span class="icon-file-pdf text-danger"></span> <span th:text="#{view}">View</span>
                         	</a>
                         	<a class="btn btn-sm btn-light" role="button" aria-pressed="true" th:href="@{|/pdf/download/${event.id}|}">
                            	<span class="icon-download-alt"></span> <span th:text="#{download}">Download</span>
                         	</a>
                      	</td>
                 	</tr>
                	<tr th:replace="fragment/audit-detail.html :: content(data=${event})"></tr>
           		</tbody>
     		</table>
       	</div>
      	<div class="toolbar">
        	<a class="btn btn-sm btn-secondary" th:href="@{/event}">
             	<span class="icon-left" th:text="#{back}">Back</span>
       		</a>
   		</div>
	</div>
</body>

</html>