<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: content(title=|#{application.name} : #{event}|)"></head>

<body data-menu="event">
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box" th:with="isMaker=${#authorization.expression('hasAuthority(''PROMO_MK'')')}">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item"><a href="/event/event-view.html" th:href="@{/event}" th:text="#{event}">Event</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{customer}">Customer</li>
            </ol>
        </nav>
        <div id="main-content">
            <!-- TABLE DATA -->
            <div class="table-responsive border border-top-0" th:if="${page.getTotalElements() > 0}">
                <table class="table table-sm table-striped table-hover border-bottom" style="min-width: 800px;">
                    <thead>
                        <tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
                            <th style="width:40px">#</th>
                            <th th:with="sort=|&sort=name,${ascending ? 'DESC' : 'ASC'}|">
                                <a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                    <span th:text="#{name}">Name</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                </a>
                            </th>
                            <th th:text="#{customerType}">Type</th>
                            <th th:text="#{email}">Email</th>
                            <th th:text="#{phone}">Phone</th>
                            <th th:text="#{answer}">Answer</th>
                        </tr>
                    </thead>
                    <tbody th:remove="all-but-first">
                        <tr th:each="event,row : ${page}">
                            <td th:text="${row.count + (page.number * page.size)}">1</td>
                            <td th:text="${event.customer.name}">Ferry Linton Hutapea</td>
                            <td th:text="${event.customer.customerType}">TREASURE</td>
                            <td th:text="${event.customer.email}">ferrylinton@gmail.com</td>
                            <td th:text="${event.customer.phone}">1234567890</td>
                            <td th:text="#{${event.eventAnswer}}">YES</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- NOT FOUND MESSAGE -->
            <div class="border alert alert-light text-center" role="alert" th:if="${page.getTotalElements() == 0}">
	            <span class="icon-attention"></span> <span th:text="#{message.dataNotFound}">Data not found</span>
	        </div>
            <!-- TOOLBAR -->
            <div class="toolbar">
                <a class="btn btn-light" href="/event/event-view.html" th:href="@{/event}">
                    <span class="icon-left"></span> <span th:text="#{back}">Back</span>
                </a>
                <th:block th:if="${page != null && page.getTotalPages() > 1}">
	                <a class="btn btn-light" th:href="@{|?${previous}${params}|}" th:classappend="${not page.hasPrevious()} ? 'disabled'">
	                    <span class="icon-left-open"></span> <span th:text="#{previous}">Previous</span>
	                </a>
	                <a class="btn btn-light" th:href="@{|?${next}${params}|}" th:classappend="${not page.hasNext()} ? 'disabled'">
	                    <span th:text="#{next}">Next</span> <span class="icon-right-open"></span>
	                </a>
                </th:block>
            </div>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>
