<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="contextPath" content="/" th:content="@{/}" />
    <title th:text="|#{application.name} : #{event}|"></title>
    <link href="/static/image/favicon.png" th:href="@{/static/image/favicon.png}" rel="shorcut icon" />
    <link href="/static/css/all.min.css" th:href="@{/static/css/all.min.css}" rel="stylesheet" />
</head>

<body onload="onLoadEventForm()">
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item"><a href="/event/event-view.html" th:href="@{/event}" th:text="#{event}">Event</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{form}">Form</li>
            </ol>
        </nav>
        <div id="main-content">
                <!-- MESSAGE -->
                <div class="border alert alert-light text-center" role="alert" th:if="${error}">
                    <span class="icon-attention"></span> <span th:text="${error}">Data ['xxxx'] is not found</span>
                </div>
                <!-- FORM -->
                <th:block th:if="${event}">
                    <form action="/event/event-view.html" th:action="@{/event}" th:object="${event}" method="post" autocomplete="off" onsubmit="return AjaxUtil.submit(this)">
                        <div class="row">
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="title" th:text="|#{title} *|">Title *</label>
                                    <textarea class="form-control" th:field="*{title}" rows="3" maxlength="255"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="description" th:text="|#{description} *|">Description *</label>
                                    <textarea class="form-control" th:field="*{description}" rows="3" maxlength="255"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="content" th:text="|#{content} *|">Content *</label>
                                    <textarea class="form-control" th:field="*{content}" id="content" rows="5" maxlength="255"></textarea>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-row" th:with="format=${@environment.getProperty('application.format.date')}">
                                    <div class="form-group col">
                                        <label for="startPeriod" th:text="|#{startPeriod} *|">Start Period *</label>
                                        <input class="form-control" type="text" th:placeholder="#{startPeriod}" id="startPeriod" name="startPeriod" th:value="${#dates.format(event.startPeriod, format)}" readonly="readonly" />
                                    </div>
                                    <div class="form-group col">
                                        <label for="endPeriod" th:text="|#{endPeriod} *|">End Period *</label>
                                        <input class="form-control" type="text" th:placeholder="#{endPeriod}" id="endPeriod" name="endPeriod" th:value="${#dates.format(event.endPeriod, format)}" readonly="readonly"/>
                                    </div>
                                    <div class="form-group col">
                                        <label for="timePeriod" th:text="|#{timePeriod} *|">Time Period *</label>
                                        <input class="form-control" type="text" th:field="*{timePeriod}" readonly="readonly" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <label for="place" th:text="|#{place} *|">Place *</label>
                                    <input class="form-control" type="text" th:field="*{place}" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12" th:if="*{id != null}">
								<div class="form-group">
									<label for="image" th:text="#{image}">Image</label>
									<div class="d-block overflow-auto">
										<img class="border p-1" alt="image" src="/image/500x200.png" th:src="@{|/image/${event.id}|}" />
									</div>
								</div>
							</div>
							<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
								<div class="form-group">
									<div class="custom-file">
										<input type="file" accept="image/png,image/jpg,image/jpeg" class="custom-file-input" id="multipartFileImage" name="multipartFileImage" onchange="ImageUtil.show(this)">
										<label class="custom-file-label" th:text="#{chooseImageFile}"></label>
									</div>
								</div>
							</div>
                            <div class="col-12">
                                <div class="form-group" id="preview-image" style="display: none;">
                                    <div class="d-block overflow-auto">
                                        <img class="border p-1" alt="image" src="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                        	<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                                <div class="form-group">
                                    <div class="custom-file">
                                        <input type="file" accept="application/pdf" class="custom-file-input" id="multipartFileMaterial" name="multipartFileMaterial">
                                        <label class="custom-file-label" th:text="#{chooseMaterialFile}"></label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- HIDDEN -->
                    	<input type="hidden" id="id" th:field="*{id}" th:if="*{id != null}"/>
                    	<input type="hidden" th:field="*{createdBy}"/>
                    	<input type="hidden" th:field="*{createdDate}"/>
                    	<input type="hidden" th:field="*{lastModifiedBy}"/>
                    	<input type="hidden" th:field="*{lastModifiedDate}"/>
                    	<!-- TOOLBAR -->
                        <div class="toolbar">
                            <a class="btn btn-light" href="/event/event-view.html" th:href="@{/event}">
                                <span class="icon-left" th:text="#{back}">Back</span>
                            </a>
                            <button class="btn btn-light text-primary" type="submit">
                                <span class="icon-floppy" th:text="#{save}">Save</span>
                            </button>
                        </div>
                    </form>
                </th:block>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <script src="/static/js/all.min.js" th:src="@{/static/js/all.min.js}"></script>
    <script src="/static/js/fragment.js" th:remove="all"></script>
</body>

</html>
