<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{logapiurl}">Log API URL</title>
</head>

<body data-menu="logapiurl">
	<nav aria-label="breadcrumb">
 		<ol class="breadcrumb">
     		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
         	<li class="breadcrumb-item active" aria-current="page" th:text="#{logapiurl}">Setting</li>
    	</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/search.html :: content('/logapiurl', #{name}, false)"></div>
     	<div class="table-responsive border border-top-0" th:if="${page.getTotalElements() > 0}">
	   		<table class="table table-sm table-striped table-hover border-bottom">
	       		<thead>
	            	<tr>
	                	<th style="width:40px"></th>
	                 	<th style="width:150px" th:text="#{url}">URL</th>
	                  	<th th:text="#{logged}">Logged</th>
	              	</tr>
	         	</thead>
	        	<tbody th:remove="all-but-first">
	             	<tr th:each="logapiurl,row : ${page}">
	              		<td th:text="${row.count + (page.number * page.size)}">1</td>
	                 	<td th:text="${logapiurl.url}">URL</td>
	                 	<td><span class="text-success icon-ok" th:class="${logapiurl.logged} ? 'text-success icon-ok' : 'text-danger icon-cancel'"></span></td>
	             	</tr>
	        	</tbody>
	    	</table>
     	</div>
     	<div th:replace="fragment/not-found.html :: content"></div>
		<div th:replace="fragment/pager.html :: content"></div>
	</div>
</body>

</html>