application:
  security:
    login-attempt-count: 3
    secret: OTE1ZWVlYTZjZWIyODY5ODQ1ZDFkYmI3ZmM1YjNmNDdkOWU3NjUyMGYwOTcwMzEzMWY5MzU1YmU0Mzk5MzUzODY2NDVkYTA1OGI5NmRiYjNkNDQ3NzBmZGVmYTFmODcyNzliNmE2MmZmN2JlZThkMmU2Y2E3M2U4YjgyNTFhNjk=
    token-validity-in-seconds: 86400
    token-validity-in-seconds-for-remember-me: 2592000
  ldap: 
    url: ldap://192.227.166.217:389 
    base: ou=dbs,dc=lwproject,dc=com
    # principal: uid=admin,ou=users,dc=dbs,dc=com
    # credentials: password
    searchFilter: (&(uid=%s))
  async: 
    core-pool-size: 5
    max-pool-size: 10
    queue-capacity: 1000
  format: 
    date: dd-MM-yyyy
    date-time: dd-MM-yyyy HH:mm
    date-time-full: dd-MM-yyyy HH:mm:ss.SSS
spring:
  datasource:
    type: com.zaxxer.hikari.HikariDataSource
    url: jdbc:mariadb://localhost:3306/loyalty?useLegacyDatetimeCode=false&serverTimezone=UTC
    username: root
    password: 
    hikari:
      poolName: Hikari
      auto-commit: false
      data-source-properties:
        cachePrepStmts: true
        prepStmtCacheSize: 250
        prepStmtCacheSqlLimit: 2048
        useServerPrepStmts: true
  h2:
    console:
      enabled: false
  jpa:
    database-platform: org.mariadb.jdbc.Driver
    database: MYSQL
    show-sql: true
    properties:
      hibernate.dialect: org.hibernate.dialect.MySQL5Dialect
      hibernate.hbm2ddl.auto: none
      hibernate.format_sql: true
      hibernate.jdbc.lob.non_contextual_creation: true
      hibernate.integration.envers.enabled: false
  liquibase: 
    enabled: false
    change-log: classpath:/db/changelog/db.changelog-master.xml
  resources:
    static-locations: classpath:/META-INF/resources/,classpath:/resources/,classpath:/static/generated/,classpath:/public/
  mvc:
    ignore-default-model-on-redirect: true
    static-path-pattern: /static/**
  servlet:
    multipart:
      max-file-size: 1MB
      max-request-size: 5MB
  thymeleaf:
    prefix: classpath:/templates/
    cache: true
  messages:
    basename: i18n/messages
  ldap:
    base: ou=users,ou=dbs,dc=lwproject,dc=com
      
