<!doctype html>
<html
	th:with="title=|#{task} - #{${#strings.unCapitalize(type)}}|, url=@{|/task${#strings.toLowerCase(type)}|}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="${title}">Title</title>
</head>

<body th:data-menu="|task${#strings.toLowerCase(type)}|">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
		<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
    		<li class="breadcrumb-item"><a th:href="${url}" th:text="${title}">Task Type</a></li>
    		<li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
   		<th:block th:if="${task}">
                <div class="table-responsive border border-top-0">
                    <table class="table table-sm table-detail">
                        <tbody>
                            <tr>
                                <th th:text="#{id}">Id</th>
                                <td th:text="${task.id}">fc82c62c-ae02-4c9a-b232-e1a6ec4b7a1d</td>
                            </tr>
                            <tr>
                                <th th:text="#{taskOperation}">Task Operation</th>
                                <td th:text="#{${task.taskOperation}}">Add</td>
                            </tr>
                            <tr>
                                <th th:text="#{taskStatus}">Task Status</th>
                                <td th:text="#{${task.taskStatus}}">PENDING</td>
                            </tr>
                            <tr>
                                <th th:text="#{maker}">Maker</th>
                                <td th:text="${task.maker}">Maker 01</td>
                            </tr>
                            <tr>
                                <th th:text="#{madeDate}">Made Date</th>
                            	<td><span th:data-date="${@dateService.jsDatetime()}" th:text="${task.madeDate}">2019-05-01T21:24:44Z</span></td>
                            </tr>
                            <tr th:if="${task.checker}">
                                <th th:text="#{checker}">Checker</th>
                                <td th:text="${task.checker}">Checker 01</td>
                            </tr>
                            <tr th:if="${task.checkedDate}">
                                <th th:text="#{checkedDate}">Checked Date</th>
                                <td><span th:data-date="${@dateService.jsDatetime()}" th:text="${task.checkedDate}">2019-05-01T21:24:44Z</span></td>
                            </tr>
                            <tr th:if="${not #strings.isEmpty(task.taskDataOld)}">
                                <th th:text="#{taskDataOld}">Task Data Old</th>
                                <td>
                                    <div class="json" th:text="${task.taskDataOld}"></div>
                                </td>
                            </tr>
                            <tr th:if="${not #strings.isEmpty(task.taskDataNew)}">
                                <th th:text="#{taskDataNew}">Task Data New</th>
                                <td>
                                    <div class="json" th:text="${task.taskDataNew}"></div>
                                </td>
                            </tr>
                            <tr th:if="${not #strings.isEmpty(task.message)}">
                                <th th:text="#{message}">Message</th>
                                <td th:text="${task.message}">Message</td>
                            </tr>
                            <tr th:if="${not #strings.isEmpty(task.error)}">
                                <th th:text="#{error}">Error</th>
                                <td th:text="${task.error}">Error</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="toolbar">
                    <a class="btn btn-sm btn-secondary" href="javascript:back()">
                        <span class="icon-left"></span> <span th:text="#{back}">Back</span>
                    </a>
                </div>
     	</th:block>
	</div>
</body>

</html>