<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''ROLE_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="|#{task} - #{${type}}|">Title</title>
</head>

<body th:data-menu="|task${type}|">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
   		<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
       		<li class="breadcrumb-item active" aria-current="page" th:text="|#{task} - #{${type}}|">Task Type</li>
    	</ol>
	</nav>
	<div layout:fragment="content">
		<div class="row no-gutters mb-3">
                <div class="col-12 col-sm-12 col-md-10 col-lg-7 col-xl-6">
                    <form action="#" th:action="@{|/task${type}|}" method="get" autocomplete="off">
                        <div class="input-group mb-2">
                            <select name="st" class="custom-select text-secondary" id="status">
                                <option value="ALL" selected th:text="#{ALL.STATUS}" th:selected="${st.name() == 'ALL'}">ALL</option>
                                <option value="PENDING" th:text="#{PENDING}" th:selected="${st.name() == 'PENDING'}">PENDING</option>
                                <option value="REJECTED" th:text="#{REJECTED}" th:selected="${st.name() == 'REJECTED'}">REJECTED</option>
                                <option value="VERIFIED" th:text="#{VERIFIED}" th:selected="${st.name() == 'VERIFIED'}">VERIFIED</option>
                                <option value="FAILED" th:text="#{FAILED}" th:selected="${st.name() == 'FAILED'}">FAILED</option>
                            </select>
                            <select name="op" class="custom-select text-secondary" id="op">
                                <option value="ALL" selected th:text="#{ALL.OPERATION}" th:selected="${op.name() == 'ALL'}">ALL</option>
                                <option value="ADD" th:text="#{ADD}" th:selected="${op.name() == 'ADD'}">ADD</option>
                                <option value="MODIFY" th:text="#{MODIFY}" th:selected="${op.name() == 'MODIFY'}">MODIFY</option>
                                <option value="DELETE" th:text="#{DELETE}" th:selected="${op.name() == 'DELETE'}">DELETE</option>
                            </select>
                        </div>
                        <div class="input-group">
                            <input class="form-control" name="ky" maxlength="40" th:value="${param.ky}" th:placeholder="|#{maker}, #{checker}|" />
                            <div class="input-group-append">
                                <button class="btn btn-light border text-secondary" type="submit">
                                    <span class="icon-search"></span>
                                </button>
                                <a class="btn btn-light border text-secondary" th:href="@{|/task${type}|}">
                                    <span class="icon-arrows-cw"></span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
    	</div>
		<div class="table-responsive" th:if="${page.getTotalElements() > 0}">
                    <table class="table table-sm table-hover table-striped border" style="min-width: 700px;">
                        <thead>
                            <tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
                                <th style="width:50px"></th>
                                <th style="width:50px">#</th>
                                <th style="width:160px" th:with="sort=|&sort=madeDate,${ascending ? 'DESC' : 'ASC'}|">
                                    <a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                        <span th:text="#{date}">Date</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                    </a>
                                </th>
                                <th th:text="#{maker}">Maker</th>
                                <th th:text="#{checker}">Checker</th>
                                <th th:text="#{taskOperation}">Operation</th>
                                <th th:text="#{taskStatus}">Status</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="task,row : ${page}">
                                <td class="p-0">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-default dropdown-toggle px-1 py-0 font-12" id="dropdownMenuButton"
                                            data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon-cog"></span>
                                        </button>
                                        <div class="dropdown-menu py-0 shadow" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item pl-1" href="/task/task-detail.html" th:href="@{|/task${type}/${task.id}/detail|}">
                                                <span class="icon-eye"></span> <span th:text="#{detail}">Detail</span>
                                            </a>
                                            <th:block th:if="${isChecker && task.taskStatus.name() == 'PENDING'}">
                                                <div class="dropdown-divider my-0"></div>
                                                <a class="dropdown-item pl-1" href="/task/task-form.html" th:href="@{|/task${type}/${task.id}|}">
                                                    <span class="icon-edit"></span> <span th:text="#{confirm}">Confirm</span>
                                                </a>
                                            </th:block>
                                        </div>
                                    </div>
                                </td>
                                <td th:text="${row.count + (page.number * page.size)}">1</td>
                                <td><span th:data-date="${@settingService.jsDatetime()}" th:text="${task.madeDate}">2019-05-01T21:24:44Z</span></td>
                                <td th:text="${task.maker}">Maker</td>
                                <td th:text="${task.checker == null ? '-' : task.checker}">Checker</td>
                                <td th:text="#{${task.taskOperation}}">Operation</td>
                                <td th:text="#{${task.taskStatus}}">Status</td>
                            </tr>
                        </tbody>
                    </table>
    	</div>
        <div th:replace="fragment/not-found.html :: content"></div>
		<div th:replace="fragment/pager.html :: content"></div>
		<div th:replace="fragment/toast.html :: content"></div>
	</div>
</body>

</html>