<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: content(title=|#{application.name} : #{task} - #{${type}}|)"></head>

<body th:data-menu="|task${type}|">
	<!-- TASK MODAL -->
	<div th:replace="fragment/task-modal.html :: #task-modal"></div>
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item"><a href="/task/task-view.html" th:href="@{|/task${type}|}" th:text="|#{task} - #{${type}}|">Task Type</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{confirm}">Confirm</li>
            </ol>
        </nav>
        <div id="main-content">
            <!-- MESSAGE -->
            <div class="border alert alert-light text-center" role="alert" th:if="${error}">
                <span class="icon-attention"></span> <span th:text="${error}">Data ['xxxx'] is not found</span>
            </div>
            <!-- FORM -->
            <th:block th:if="${task}">
                <form id="task-form" action="/task/task-view.html" th:action="@{|/task${type}|}" method="post" autocomplete="off">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label th:text="#{taskOperation}">Task Operation</label>
                                <div class="form-control" th:text="#{${task.taskOperation}}">Add</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label th:text="#{maker}">Maker</label>
                                <div class="form-control" th:text="${task.maker}">Maker</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label th:text="#{madeDate}">Made Date</label>
                                <div class="form-control"><span data-date="DD/MM/YYYY HH:mm:ss" th:data-date="${@settingService.jsDatetime()}" th:text="${task.madeDate}">2019-05-01T21:24:44Z</span></div>
                            </div>
                        </div>
                        <div class="col-12" th:if="${task.taskDataOld != null}">
                            <div class="form-group">
                                <label th:text="#{taskDataOld}">Task Data Old</label>
                                <div class="json" th:text="${task.taskDataOld}">
                                                {
                                                    "name" : "test",
                                                    "authorities" : [ {
                                                      "id" : "ZwOkjFmG",
                                                      "name" : "ADMIN"
                                                    }, {
                                                      "id" : "V6evDSIi",
                                                      "name" : "CUSTOMER_MK"
                                                    }, {
                                                      "id" : "hYMMkMXN",
                                                      "name" : "PROMO_CATEGORY_CK"
                                                    }, {
                                                      "id" : "LFVeEiRv",
                                                      "name" : "PROMO_CK"
                                                    }, {
                                                      "id" : "tx1zwTpY",
                                                      "name" : "REWARD"
                                                    }, {
                                                      "id" : "o6o0pHGS",
                                                      "name" : "ROLE_MK"
                                                    } ]
                                                  }
                                </div>
                            </div>
                        </div>
                        <div class="col-12" th:if="${task.taskDataNew != null}">
                            <div class="form-group">
                                <label th:text="#{taskDataNew}">Task Data New</label>
                                <div class="json" th:text="${task.taskDataNew}">
                                                {
                                                    "name" : "test",
                                                    "authorities" : [ {
                                                      "id" : "ZwOkjFmG",
                                                      "name" : "ADMIN"
                                                    }, {
                                                      "id" : "V6evDSIi",
                                                      "name" : "CUSTOMER_MK"
                                                    }, {
                                                      "id" : "hYMMkMXN",
                                                      "name" : "PROMO_CATEGORY_CK"
                                                    }, {
                                                      "id" : "LFVeEiRv",
                                                      "name" : "PROMO_CK"
                                                    }, {
                                                      "id" : "tx1zwTpY",
                                                      "name" : "REWARD"
                                                    }, {
                                                      "id" : "o6o0pHGS",
                                                      "name" : "ROLE_MK"
                                                    } ]
                                                  }
                                </div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-6">
                            <div class="form-group">
                                <label for="message" th:text="#{message}">Message</label>
                                <textarea class="form-control" placeholder="Message" th:placeholder="#{message}" th:field="${task.message}" rows="2" maxlength="250"></textarea>
                            </div>
                        </div>
                    </div>
                    <!-- HIDDEN -->
                    <input type="hidden" id="id" th:field="${task.id}"/>
                    <input type="hidden" id="taskDataType" th:field="${task.taskDataType}" />
                    <input type="hidden" id="taskOperation" th:field="${task.taskOperation}" />
                    <input type="hidden" id="taskStatus" th:field="${task.taskStatus}" />
                    <input type="hidden" id="maker" th:field="${task.maker}"/>
                    <input type="hidden" id="madeDate" th:field="${task.madeDate}"/>
                    <input type="hidden" id="taskDataOld" th:field="${task.taskDataOld}"/>
                    <input type="hidden" id="taskDataNew" th:field="${task.taskDataNew}"/>
                    <input type="hidden" id="verified" th:field="${task.verified}" />
                    <!-- TOOLBAR -->
                    <div class="toolbar">
                        <a class="btn btn-light" href="/task/task-view.html" th:href="@{|/task${type}|}">
                            <span class="icon-left"></span> <span th:text="#{back}">Back</span>
                        </a>
                        <button class="btn btn-light text-success" type="button" data-toggle="modal" data-target="#verify-modal">
                            <span class="icon-ok"></span> <span th:text="#{verify}">Verify</span>
                        </button>
                        <button class="btn btn-light text-danger" type="button" data-toggle="modal" data-target="#reject-modal">
                            <span class="icon-block"></span> <span th:text="#{reject}">Reject</span>
                        </button>
                    </div>
                </form>
            </th:block>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>