<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/head.html :: content(title=|#{task} - #{${type}}|)">
    <title>DBS Loyalty : Task</title>
    <link href="/static/image/favicon.png" rel="shorcut icon" />
    <link href="/static/css/main.min.css" rel="stylesheet" />
</head>

<body onload="onLoadTask()">
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: content"></div>
    <div id="content-box">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item"><a href="/task/task-view.html" th:href="@{|/task/${type}|}" th:text="|#{task} - #{${type}}|">Task Type</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
            </ol>
        </nav>
        <div class="container-fluid p-0 bg-white">
            <div class="row no-gutters">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="container-fluid pb-3">
                        <div class="min-height border p-3 overflow-auto">
                            <!-- TABLE DETAIL -->
                            <table class="table table-sm table-bordered table-detail">
                                <tbody th:with="format=${@environment.getProperty('application.format.date-time-full')}">
                                    <tr>
                                        <th th:text="#{id}">Id</th>
                                        <td th:text="${task.id}">fc82c62c-ae02-4c9a-b232-e1a6ec4b7a1d</td>
                                    </tr>
                                    <tr>
                                        <th th:text="#{taskDataType}">Task Data Type</th>
                                        <td th:text="#{${task.taskDataType}}">Role</td>
                                    </tr>
                                    <tr>
                                        <th th:text="#{taskOperation}">Task Operation</th>
                                        <td th:text="#{${task.taskOperation}}">Add</td>
                                    </tr>
                                    <tr>
                                        <th th:text="#{taskStatus}">Task Status</th>
                                        <td th:text="#{${task.taskStatus}}">PENDING</td>
                                    </tr>
                                    <tr>
                                        <th th:text="#{maker}">Maker</th>
                                        <td th:text="${task.maker}">Maker 01</td>
                                    </tr>
                                    <tr>
                                        <th th:text="#{madeDate}">Made Date</th>
                                        <td th:text="${#dates.format(task.madeDate, format)}">09-04-2019 19:06:53.279</td>
                                    </tr>
                                    <tr th:if="${task.checker}">
                                        <th th:text="#{checker}">Checker</th>
                                        <td th:text="${task.checker}">Checker 01</td>
                                    </tr>
                                    <tr th:if="${task.checkedDate}">
                                        <th th:text="${task.checkedDate}">Checked Date</th>
                                        <td th:text="${#dates.format(task.checkedDate, format)}">09-04-2019 19:06:53.279</td>
                                    </tr>
                                    <tr th:if="${task.taskDataOld}">
                                        <th th:text="#{taskDataOld}">Task Data Old</th>
                                        <td>
                                            <pre class="json" th:text="${task.taskDataOld}">
                                                {
                                                    "name" : "test",
                                                    "authorities" : [ {
                                                      "id" : "ZwOkjFmG",
                                                      "name" : "ADMIN"
                                                    }, {
                                                      "id" : "V6evDSIi",
                                                      "name" : "CUSTOMER_MK"
                                                    }, {
                                                      "id" : "hYMMkMXN",
                                                      "name" : "PROMO_CATEGORY_CK"
                                                    }, {
                                                      "id" : "LFVeEiRv",
                                                      "name" : "PROMO_CK"
                                                    }, {
                                                      "id" : "tx1zwTpY",
                                                      "name" : "REWARD"
                                                    }, {
                                                      "id" : "o6o0pHGS",
                                                      "name" : "ROLE_MK"
                                                    } ]
                                                  }
                                            </pre>
                                        </td>
                                    </tr>
                                    <tr th:if="${task.taskDataNew}">
                                        <th th:text="#{taskDataNew}">Task Data New</th>
                                        <td>
                                            <pre class="json" th:text="${task.taskDataNew}">
                                                    {
                                                        "name" : "test",
                                                        "authorities" : [ {
                                                          "id" : "ZwOkjFmG",
                                                          "name" : "ADMIN"
                                                        }, {
                                                          "id" : "V6evDSIi",
                                                          "name" : "CUSTOMER_MK"
                                                        }, {
                                                          "id" : "hYMMkMXN",
                                                          "name" : "PROMO_CATEGORY_CK"
                                                        }, {
                                                          "id" : "LFVeEiRv",
                                                          "name" : "PROMO_CK"
                                                        }, {
                                                          "id" : "tx1zwTpY",
                                                          "name" : "REWARD"
                                                        }, {
                                                          "id" : "o6o0pHGS",
                                                          "name" : "ROLE_MK"
                                                        } ]
                                                      }
                                            </pre>
                                         </td>
                                    </tr>
                                    <tr th:if="${task.message}">
                                        <th th:text="#{message}">Message</th>
                                        <td th:text="${task.message}">Message</td>
                                    </tr>
                                    <tr th:if="${task.error}">
                                        <th th:text="#{error}">Error</th>
                                        <td th:text="${task.error}">Error</td>
                                    </tr>
                                    <tr th:if="${task.errorDetail}">
                                        <th th:text="#{errorDetail}">Error Detail</th>
                                        <td th:text="${task.errorDetail}">Error Detail</td>
                                    </tr>
                                </tbody>
                            </table>
                            <div class="toolbar">
                                <a class="btn btn-light" href="/task/role/task-role-view.html" th:href="@{|/task/role|}">
                                    <span class="icon-left" th:text="#{back}">Back</span>
                                </a>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: content"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box">
        <div th:replace="fragment/sidenav.html :: content"></div>
    </div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
    <script src="/static/js/main.min.js" th:remove="all"></script>
    <script src="/static/js/fragment.js" th:remove="all"></script>
</body>

</html>