<!doctype html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: content(title=#{task})">
	<title>DBS Loyalty</title>
</head>

<body>
	<div th:replace="fragment/navbar.html :: content"></div>
	<div class="bg-white">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb border-bottom">
				<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}"></a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="|#{task} - #{${type}}|"></li>
			</ol>
		</nav>
		<div class="container-fluid pb-3">
			<div class="min-height border p-3">
				<div class="row no-gutters mb-3">
					<div class="col-12 col-sm-12 col-md-10 col-lg-8 col-xl-8">
						<form th:action="@{|/task/${type}|}" method="get" autocomplete="off" >
							<div class="row no-gutters">
								<div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-7 pb-1">
									<div class="input-group">
										<select name="st" class="custom-select text-secondary" id="status">
										    <option value="ALL" selected th:text="#{ALL}" th:selected="${st.name() == 'ALL'}"></option>
										    <option value="PENDING" th:text="#{PENDING}" th:selected="${st.name() == 'PENDING'}">PENDING</option>
										    <option value="REJECTED" th:text="#{REJECTED}" th:selected="${st.name() == 'REJECTED'}">REJECTED</option>
										    <option value="VERIFIED"th:text="#{VERIFIED}" th:selected="${st.name() == 'VERIFIED'}">VERIFIED</option>
										    <option value="FAILED"th:text="#{FAILED}" th:selected="${st.name() == 'FAILED'}">FAILED</option>
										</select>
										<select name="op" class="custom-select text-secondary" id="op">
										    <option value="ALL" selected th:text="#{ALL}" th:selected="${op.name() == 'ALL'}"></option>
										    <option value="ADD" th:text="#{ADD}" th:selected="${op.name() == 'ADD'}">ADD</option>
										    <option value="MODIFY" th:text="#{MODIFY}" th:selected="${op.name() == 'MODIFY'}">MODIFY</option>
										    <option value="DELETE"th:text="#{DELETE}" th:selected="${op.name() == 'DELETE'}">DELETE</option>
										</select>
									</div>
								</div>
							</div>
							<div class="row no-gutters">
								<div class="col-12 col-sm-12 col-md-9 col-lg-8 col-xl-7">
									<div class="input-group">
										<input class="form-control" name="ky" maxlength="40" th:value="${param.ky}" th:placeholder="#{keyword}" />
										<div class="input-group-append">
											<button class="btn btn-light border text-secondary" type="submit">
												<span class="icon-search"></span>
											</button>
											<a class="btn btn-light border text-secondary" th:href="@{|/task/${type}|}">
												<span class="icon-arrows-cw"></span>
											</a>
										</div>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="table-responsive" th:if="${page.getTotalElements() > 0}">
					<table class="table table-sm table-hover table-striped border" style="min-width: 700px;">
						<thead>
							<tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
								<th style="width:50px"></th>
								<th style="width:50px">#</th>
								<th style="width:160px" th:with="sort=|&sort=madeDate,${ascending ? 'DESC' : 'ASC'}|">
                                	<a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                		<span th:text="#{date}"></span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                	</a>
                                </th>
								<th th:text="#{maker}"></th>
								<th th:text="#{taskDataType}"></th>
								<th th:text="#{taskOperation}"></th>
								<th th:text="#{taskStatus}"></th>
							</tr>
						</thead>
						<tbody th:with="format=${@environment.getProperty('application.format.date-time')}">
							<tr th:each="task,row : ${page}">
								<td class="py-0 px-1">
									<div class="dropdown">
										<button type="button" class="btn btn-default dropdown-toggle px-1 py-0 font-12" id="dropdownMenuButton" data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										 	<span class="icon-cog"></span>
										</button>
										<div class="dropdown-menu py-0 shadow" aria-labelledby="dropdownMenuButton">
										    <a class="dropdown-item pl-1" th:href="@{|/task/${type}/${task.id}|}">
										    	<span class="icon-eye"></span> <span th:text="#{view}"></span>
										    </a>
										</div>
									</div>
								</td>
								<td th:text="${row.count + (page.number * page.size)}"></td>
								<td th:text="${#dates.format(task.madeDate, format)}"></td>
								<td th:text="${task.maker}"></td>
								<td th:text="#{${task.taskDataType}}"></td>
								<td th:text="#{${task.taskOperation}}"></td>
								<td th:text="#{${task.taskStatus}}"></td>
							</tr>
					</table>
				</div>
				<div class="border alert alert-light text-center" role="alert" th:if="${page.getTotalElements() == 0}">
					<span class="icon-attention"></span> <span th:text="#{message.dataNotFound}"></span>
				</div>
				<th:block th:if="${page != null && page.getTotalPages() > 1}">
                    <a class="btn btn-sm btn-secondary" th:href="@{|?${previous}${params}|}" th:classappend="${not page.hasPrevious()} ? 'disabled'">
                    	<span class="icon-left-open"></span> <span th:text="#{previous}"></span>
                    </a>
                    <a class="btn btn-sm btn-secondary" th:href="@{|?${next}${params}|}" th:classappend="${not page.hasNext()} ? 'disabled'">
                    	<span th:text="#{next}"></span> <span class="icon-right-open"></span>
                    </a>
                </th:block>
			</div>
		</div>
	</div>
	<div th:replace="fragment/footer.html :: content"></div>
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>