<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{arrival}">Arrival</title>
</head>

<body data-menu="arrival">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
		<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
          	<li class="breadcrumb-item active" aria-current="page" th:text="#{arrival}">Departure</li>
   		</ol>
	</nav>
	<div layout:fragment="content">
		<div class="row no-gutters mb-3">
     		<div class="col-12 col-sm-12 col-md-10 col-lg-7 col-xl-6">
           		<form th:action="@{/arrival}" method="get" autocomplete="off" >
					<div class="input-group mb-2">
						<input type="text" class="form-control datetimepicker-input" id="sd" name="sd" th:title="${param.sd}" placeholder="Start Date" th:placeholder="#{startDate}" data-toggle="datetimepicker" data-target="#sd">
		          		<input type="text" class="form-control datetimepicker-input" id="ed" name="ed" th:title="${param.ed}" placeholder="End Date" th:placeholder="#{endDate}" data-toggle="datetimepicker" data-target="#ed">
						<div class="input-group-append">
		             		<div class="input-group-text bg-light"><span class="icon-calendar"></span></div>
		             	</div>
					</div>
                  	<div class="input-group">
                  		<input class="form-control" name="ky" maxlength="40" th:value="${param.ky}" th:placeholder="#{name}" />
                      	<div class="input-group-append">
                      		<button class="btn btn-light border text-secondary" type="submit">
                          		<span class="icon-search"></span>
                         	</button>
                          	<a class="btn btn-light border text-secondary" th:href="@{/arrival}">
                             	<span class="icon-arrows-cw"></span>
                           	</a>
                   		</div>
                  	</div>
				</form>
     		</div>
    	</div>
		<div class="table-responsive border border-top-0" th:if="${page.getTotalElements() > 0}">
	   		<table class="table table-sm table-striped table-hover border-bottom" style="min-width: 400px;">
                    <thead>
                        <tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
                            <th style="width:40px"></th>
                            <th style="width:40px">#</th>
                            <th th:with="sort=|&sort=flightDate,${ascending ? 'DESC' : 'ASC'}|">
                                <a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                    <span th:text="#{flightDate}">Flight Date</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                </a>
                            </th>
                            <th th:text="#{firstName}">First Name</th>
                            <th th:text="#{lastName}">Last Name</th>
                            <th th:text="#{typeOfService}">Type Of Service</th>
                            <th th:text="#{airportTransfer}">Airport Transfer</th>
                        </tr>
                    </thead>
	                <tbody th:remove="all-but-first">
	                    <tr th:each="arrival,row : ${page}">
	                        <td class="p-0">
								<div class="dropdown">
									<button type="button" class="btn btn-default dropdown-toggle px-1 py-0 font-12" id="dropdownMenuButton" data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="icon-cog"></span>
									</button>
									<div class="dropdown-menu py-0 shadow" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item pl-1" th:href="@{|/arrival/${arrival.id}|}">
										    <span class="icon-eye"></span> <span th:text="#{detail}">Detail</span>
                                        </a>
									</div>
								</div>
							</td>
	                        <td th:text="${row.count + (page.number * page.size)}">1</td>
	                        <td><span th:data-date="${@dateService.jsDatetime()}" th:text="${arrival.flightDate}">2019-05-01T21:24:44Z</span></td>
	                        <td th:text="${arrival.customer.firstName}">First Name</td>
	                        <td th:text="${arrival.customer.lastName}">Last Name</td>
	                        <td th:text="${arrival.typeOfService}">Type Of Service</td>
	                        <td><span th:class="${arrival.airportTransfer} ? 'text-success icon-ok' : 'text-danger icon-cancel'"></span></td>
	                    </tr>
	                </tbody>
	     	</table>
       	</div>
		<div th:replace="fragment/not-found.html :: content"></div>
		<div th:replace="fragment/pager.html :: content"></div>
	</div>
</body>

</html>