<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{arrival}">Arrival</title>
</head>

<body data-menu="arrival">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
   		<ol class="breadcrumb">
         	<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
         	<li class="breadcrumb-item"><a th:href="@{/arrival}" th:text="#{arrival}">Arrival</a></li>
          	<li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
   		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
   		<div class="table-responsive border border-top-0" th:if="${arrival}">
       		<table class="table table-sm table-detail" style="min-width: 400px;">
           		<tbody>
               		<tr>
                     	<th style="width:200px;" th:text="#{id}">Id</th>
                     	<td th:text="${arrival.id}">ZwOkjFmG</td>
               		</tr>
                 	<tr>
                    	<th th:text="#{typeOfService}">Type Of Service</th>
                    	<td th:text="${arrival.typeOfService}">Type Of Service</td>
                  	</tr>
                  	<tr>
                    	<th th:text="#{airport}">Airport</th>
                   		<td th:text="${arrival.airport.name}">Airport</td>
                	</tr>
                   	<tr>
                    	<th th:text="#{flightDate}">Flight Date</th>
                      	<td><span th:data-date="${@dateService.jsDate()}" th:text="${arrival.flightDate}">2019-05-01T21:24:44Z</span></td>
                  	</tr>
                  	<tr>
                      	<th th:text="#{flightTime}">Flight Time</th>
                     	<td><span th:data-date="${@dateService.jsTime()}" th:text="${arrival.flightDate}">2019-05-01T21:24:44Z</span></td>
              		</tr>
                  	<tr>
                   		<th th:text="#{flightCode}">Flight Code</th>
                       	<td th:text="${arrival.flightCode}">Flight Code</td>
                 	</tr>
                  	<tr>
                       	<th th:text="#{flightNumber}">Flight Number</th>
                      	<td th:text="${arrival.flightNumber}">Flight Number</td>
                  	</tr>
               		<tr>
                     	<th th:text="#{firstName}">First Name</th>
                      	<td th:text="${arrival.customer.firstName}">First Name</td>
                	</tr>
                	<tr>
                     	<th th:text="#{lastName}">Last Name</th>
                      	<td th:text="${arrival.customer.lastName}">Last Name</td>
                	</tr>
                  	<tr>
                      	<th th:text="#{customerPhone}">Customer Phone</th>
                      	<td th:text="${arrival.customerPhone}">Customer Phone</td>
                  	</tr>
                   	<tr>
                     	<th th:text="#{guestPhone}">Guest Phone</th>
                       	<td th:text="${arrival.guestPhone}">Guest Phone</td>
                	</tr>
                	<tr>
                     	<th th:text="#{airportTransfer}">Airport Transfer</th>
                     	<td><span th:class="${arrival.airportTransfer} ? 'text-success icon-ok' : 'text-danger icon-cancel'"></span></td>
               		</tr>
                	<tr>
                   		<th th:text="#{dropOffAddress}">Drop Off Address</th>
                       	<td th:text="${arrival.dropOffAddress}">Drop Off Address</td>
                  	</tr>
 					<tr>
                    	<th th:text="#{pickupTime}">Pickup Time</th>
                    	<td><span th:data-date="${@dateService.jsTime()}" th:text="${arrival.pickupTime}">2019-05-01T21:24:44Z</span></td>
               		</tr>
                 	<tr>
                     	<th th:text="#{numberOfPassengers}">Number Of Passengers</th>
                       	<td th:text="${arrival.numberOfPassengers}">1</td>
                  	</tr>
                 	<tr>
                   		<th th:text="#{numberOfLuggages}">Number Of Luggages</th>
                      	<td th:text="${arrival.numberOfLuggages}">1</td>
                   	</tr>
                  	<tr th:replace="fragment/audit-detail.html :: content(data=${arrival})"></tr>
             	</tbody>
       		</table>
    	</div>
		<div class="toolbar">
     		<a class="btn btn-sm btn-secondary" href="javascript:back();">
          		<span class="icon-left"></span> <span th:text="#{back}">Back</span>
       		</a>
      	</div>
	</div>
</body>

</html>