<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{arrival}">Arrival</title>
</head>

<body data-menu="arrival">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
		<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
          	<li class="breadcrumb-item active" aria-current="page" th:text="#{arrival}">Departure</li>
   		</ol>
	</nav>
	<div layout:fragment="content">
		<div class="table-responsive border border-top-0" th:if="${page.getTotalElements() > 0}">
	            <table class="table table-sm table-striped table-hover border-bottom" style="min-width: 400px;">
                    <thead>
                        <tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
                            <th style="width:40px"></th>
                            <th style="width:40px">#</th>
                            <th th:with="sort=|&sort=flightDate,${ascending ? 'DESC' : 'ASC'}|">
                                <a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                    <span th:text="#{flightDate}">Flight Date</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                </a>
                            </th>
                            <th th:text="#{name}">Name</th>
                            <th th:text="#{serviceType}">Service Type</th>
                        </tr>
                    </thead>
	                <tbody th:remove="all-but-first">
	                    <tr th:each="arrival,row : ${page}">
	                        <td class="py-0 px-1">
								<div class="dropdown">
									<button type="button" class="btn btn-default dropdown-toggle px-1 py-0 font-12" id="dropdownMenuButton" data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										<span class="icon-cog"></span>
									</button>
									<div class="dropdown-menu py-0 shadow" aria-labelledby="dropdownMenuButton">
										<a class="dropdown-item pl-1" href="/arrival/arrival-detail.html" th:href="@{|/arrival/${arrival.id}|}">
										    <span class="icon-eye"></span> <span th:text="#{detail}">Detail</span>
                                        </a>
									</div>
								</div>
							</td>
	                        <td th:text="${row.count + (page.number * page.size)}">1</td>
	                        <td th:text="${arrival.flightDate}">Date</td>
	                        <td th:text="${arrival.customer.name}">Name</td>
	                        <td th:text="${arrival.serviceType}">Service Type</td>
	                    </tr>
	                </tbody>
	            </table>
       	</div>
		<div th:replace="fragment/not-found.html :: content"></div>
		<div th:replace="fragment/pager.html :: content"></div>
	</div>
</body>

</html>