<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{setting}">Setting</title>
</head>

<body data-menu="setting">
	<nav aria-label="breadcrumb">
 		<ol class="breadcrumb">
     		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
         	<li class="breadcrumb-item active" aria-current="page" th:text="#{setting}">Setting</li>
    	</ol>
	</nav>
	<div layout:fragment="content">
     	<div class="table-responsive border border-top-0" th:if="${#maps.size(settings) > 0}">
	   		<table class="table table-sm table-striped table-hover border-bottom">
	       		<thead>
	            	<tr>
	                	<th style="width:40px"></th>
	                 	<th style="width:150px" th:text="#{key}">Key</th>
	                  	<th th:text="#{value}">Value</th>
	              	</tr>
	         	</thead>
	        	<tbody th:remove="all-but-first">
	             	<tr th:each="setting,row : ${settings}">
	              		<td th:text="${row.count}">1</td>
	                 	<td th:text="${setting.key}">Key</td>
	                 	<td th:text="${setting.value}">Value</td>
	             	</tr>
	        	</tbody>
	    	</table>
     	</div>
	</div>
</body>

</html>