<!doctype html>
<html th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: content(title=#{menu.authority})"></head>

<body>
	<div th:replace="fragment/navbar.html :: content"></div>
	<div class="bg-white">
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb border-bottom">
				<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{menu.home}"></a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="#{menu.authority}"></li>
			</ol>
		</nav>
		<div class="container-fluid pb-3">
			<div class="min-height border p-3">
				<div class="row no-gutters mb-3">
					<div class="col-12 col-sm-7 col-md-5 col-lg-4 col-xl-3">
						<div th:replace="fragment/search.html :: content(@{/authority}, #{label.name})"></div>
					</div>
				</div>
				<div class="table-responsive" th:if="${page.getTotalElements() > 0}">
					<table class="table table-sm table-hover table-striped border">
						<thead>
							<tr>
								<th class="text-center" width="50px">#</th>
								<th th:utext="${@linkService.sortLink('name')}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="authority,row : ${page}">
								<td class="text-center" th:text="${row.count + (page.number * page.size)}"></td>
								<td th:utext="|<strong>${authority.name}</strong> / <i>#{${authority.name}}</i>|"></td>
							</tr>
					</table>
				</div>
				<div class="border alert alert-light text-center" role="alert" th:if="${page.getTotalElements() == 0}">
					<i class="icon-attention"></i> <span th:text="#{message.dataNotFound}"></span>
				</div>
				<div th:replace="fragment/pager.html :: content"></div>
			</div>
		</div>
	</div>
	<div th:replace="fragment/footer.html :: content"></div>
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>