<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
</head>

<body>
<div th:fragment="content" th:remove="tag">
	<div id="delete-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
	  	<div class="modal-dialog modal-dialog-centered" role="document">
		    <div class="modal-content shadow-sm">
		   		<div class="modal-body text-center p-4">
					<span th:text="#{message.deleteConfirm}">Delete data?</span>
		    	</div>
		 		<div class="modal-footer text-center">
		      		<form id="delete-modal-form" action="#" method="post" autocomplete="off">
		      			<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
		      			<button type="button" class="btn btn-sm btn-light" data-dismiss="modal">
							<span class="icon-cancel"></span> <span th:text="#{close}">Close</span>
						</button>
		        		<button type="submit" class="btn btn-sm btn-light text-danger">
		        			<span class="icon-trash"></span> <span th:text="#{delete}">Delete</span>
		        		</button>
		      		</form>
		      </div>
		    </div>
	  	</div>
	</div>
</div>
</body>

</html>