<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>DBS Loyalty</title>
</head>
<body>
    <div th:fragment="content" th:remove="tag">
        <footer>
	        <div class="container-fluid">
	            <div class="row text-uppercase text-center">
	                <div class="col-12 col-sm-6 text-sm-left">
	                    <p class="m-0" th:utext="#{application.copyright}">Copyright &copy; 2019 by Bank DBS</p>
	                </div>
	                <div class="col-12 col-sm-6 text-sm-right">
	                    <a href="#">English</a> |
	                    <a href="#">Bahasa Indonesia</a>
	                </div>
	            </div>
	        </div>
    	</footer>
    </div>
</body>

</html>