<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
</head>

<body>
	<div th:fragment="content" th:remove="tag">
		<div id="footer">
            <div class="container-fluid">
                <div class="row no-gutters text-uppercase text-center">
                    <div class="col-12 col-sm-6 text-sm-left">
                        <p class="m-0" th:utext="#{application.copyright}">Copyright &copy; 2019 by Bank DBS</p>
                    </div>
                    <div class="col-12 col-sm-6 text-sm-right">
                        <a href="?lang=en" th:text="#{english}">English</a> <a href="?lang=in" th:text="#{indonesia}">Indonesia</a>
                    </div>
                </div>
            </div>
		</div>
	</div>
</body>

</html>