<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:fragment="content(title)">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="contextPath" content="/" th:content="@{/}" />
	<meta name="_csrf" content="18389837-d2fb-415d-9079-80e38e7a9520" th:content="${_csrf.token}"/>
	<meta name="_csrf_header" content="X-CSRF-TOKEN" th:content="${_csrf.headerName}"/>
    <title th:text="|#{application.name} : #{${title}}|"></title>
    <link href="/static/image/favicon.png" th:href="@{/static/image/favicon.png}" rel="shorcut icon" />
    <!-- LIBS - CDNJS -->
    <th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'cdnjs')}">
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.4/jquery-confirm.min.css" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/datepicker/0.6.5/datepicker.min.css" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css" />
    	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Trumbowyg/2.17.0/ui/trumbowyg.min.css" />
    </th:block>
    <!-- LIBS - LOCAL -->
    <th:block th:if="${not #arrays.contains(@environment.getActiveProfiles(),'cdnjs')}">
    	<link rel="stylesheet" href="/static/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" th:href="@{/static/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css}" />
		<link rel="stylesheet" href="/static/libs/jquery-confirm/3.3.4/jquery-confirm.min.css" th:href="@{/static/libs/jquery-confirm/3.3.4/jquery-confirm.min.css}" />
		<link rel="stylesheet" href="/static/libs/datepicker/0.6.5/datepicker.min.css" th:href="@{/static/libs/datepicker/0.6.5/datepicker.min.css}" />
		<link rel="stylesheet" href="/static/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css" th:href="@{/static/libs/jquery-timepicker/1.10.0/jquery.timepicker.min.css}" />
		<link rel="stylesheet" href="/static/libs/Trumbowyg/2.17.0/ui/trumbowyg.min.css" th:href="@{/static/libs/Trumbowyg/2.17.0/ui/trumbowyg.min.css}" />
    </th:block>
    <!-- ALL MIN CSS -->
	<th:block th:if="${#arrays.contains(@environment.getActiveProfiles(),'min')}">
		<link rel="stylesheet" href="/static/css/all.min.css" th:href="@{/static/css/all.min.css}" />
	</th:block>
	<!-- CSS -->
	<th:block th:if="${not #arrays.contains(@environment.getActiveProfiles(),'min')}">
		<link rel="stylesheet" href="/static/css/fontello.css" th:href="@{/static/css/fontello.css}" />
		<link rel="stylesheet" href="/static/css/input-material.css" th:href="@{/static/css/input-material.css}" />
		<link rel="stylesheet" href="/static/css/sidenav.css" th:href="@{/static/css/sidenav.css}" />
		<link rel="stylesheet" href="/static/css/main.css" th:href="@{/static/css/main.css}" />
	</th:block>
    
</head>

<body>
</body>

</html>