<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:fragment="content (title)">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="contextPath" th:content="@{/}" />
    <title th:text="|#{application.name} : ${title}|"></title>
    <link th:href="@{/static/image/favicon.png}" rel="shorcut icon" />
    <link th:href="@{/static/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/static/css/jquery-confirm.css}" rel="stylesheet" />
    <link th:href="@{/static/css/input-material.css}" rel="stylesheet" />
    <link th:href="@{/static/css/fontello.css}" rel="stylesheet" />
    <link th:href="@{/static/css/datepicker.css}" rel="stylesheet" />
    <link th:href="@{/static/css/main.css}" rel="stylesheet" />
</head>

<body>
</body>

</html>