<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<div th:fragment="content" th:remove="tag">
		<nav class="navbar navbar-dark bg-black fixed-top border-bottom border-red border-3">
			<a class="navbar-brand clearfix" href="index.html">
				<img class="float-left" th:src="@{/static/image/dbs.png}"></img>
				<span class="float-left ml-1 mt-2 text-secondary" th:text=#{application.subname}></span>
			</a>
			<div class="ml-auto">
				<a class="btn btn-outline-dark border-0 text-white" th:href="@{/home}">
					<i class="icon-home-outline"></i> <span th:text="#{menu.home}"></span>
				</a>
				<a class="btn btn-outline-dark border-0 text-white" th:href="@{/logout}">
					<i class="icon-logout"></i> <span th:text="#{menu.logout}"></span>
				</a>
			</div>
		</nav>
	</div>
</body>

</html>