<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ferry L. H</title>
</head>

<body>
	<div th:fragment="content" th:remove="tag">
		<div class="border alert alert-light text-center" role="alert" th:if="${page.getTotalElements() == 0}">
			<span class="icon-attention"></span> <span th:text="#{message.dataNotFound}">Data not found</span>
		</div>
		<div class="toolbar" th:if="${showBack}">
    		<a class="btn btn-sm btn-secondary" href="javascript:back();">
       			<span class="icon-left"></span> <span th:text="#{back}">Back</span>
     		</a>
		</div>
	</div>
</body>

</html>