<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Ferry L. H</title>
</head>

<body>
	<div th:fragment="content" th:remove="tag">
		<div class="toolbar" th:if="${page != null && page.getTotalPages() > 1}">
			<a class="btn btn-sm btn-secondary" href="javascript:back();" th:if="${showBack}">
       			<span class="icon-left"></span> <span th:text="#{back}">Back</span>
     		</a>
			<a class="btn btn-sm btn-secondary text-uppercase" th:href="@{|?${previous}${params}|}" th:classappend="${not page.hasPrevious()} ? 'disabled'">
	       		<span class="icon-left-open"></span> <span th:text="#{previous}">Previous</span>
	    	</a>
	      	<a class="btn btn-sm btn-secondary text-uppercase" th:href="@{|?${next}${params}|}" th:classappend="${not page.hasNext()} ? 'disabled'">
	    		<span th:text="#{next}">Next</span> <span class="icon-right-open"></span>
	       	</a>
		</div>
	</div>
</body>

</html>