<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="content" th:remove="tag">
        <script th:src="@{/static/js/jquery.min.js}"></script>
    	<script th:src="@{/static/js/popper.min.js}"></script>
    	<script th:src="@{/static/js/bootstrap.min.js}"></script>
    	<script th:src="@{/static/js/jquery-confirm.min.js}"></script>
    	<script th:src="@{/static/js/jconfirm-defaults.js}"></script>
    	<script th:src="@{/static/js/lang.js}"></script>
    	<script th:src="@{/static/js/alert.js}"></script>
    	<script th:src="@{/static/js/data.js}"></script>
    	<script th:src="@{/static/js/materialize-inputs.jquery.js}"></script>
    	<script th:src="@{/static/js/main.js}"></script>
    </div>
</body>

</html>