<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Title</title>
</head>

<body>
	<div th:fragment="content(url, fields, canChangeData)" class="row no-gutters mb-3">
		<div class="col-12 col-sm-12 col-md-10 col-lg-7 col-xl-6">
			<form action="#" th:action="@{${url}}" method="get" autocomplete="off">
           		<div class="input-group">
              		<input class="form-control" name="ky" maxlength="40" th:value="${param.ky}" th:placeholder="${fields}" />
                  	<div class="input-group-append">
                   		<button class="btn btn-light" type="submit" data-toggle="tooltip" th:title="#{search}">
                    		<span class="icon-search"></span>
               			</button>
                    	<a class="btn btn-light" th:href="@{${url}}" data-toggle="tooltip" th:title="#{reload}">
                			<span class="icon-ccw"></span>
                    	</a>
                    	<a class="btn btn-light" th:href="@{|${url}/0|}" data-toggle="tooltip" th:title="#{add}" th:if="${canChangeData}">
                   			<span class="icon-plus"></span>
                     	</a>
               		</div>
          		</div>
			</form>
		</div>
	</div>
</body>

</html>