<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Title</title>
</head>

<body>
<div th:fragment="content" th:remove="tag">
    <div id="sidenav-box" data-simplebar>
        <ul class="vertical-menu">
            <li>
                <span th:text="#{data}">Data</span>
                <ul>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''CUSTOMER_MK'', ''CUSTOMER_CK'')')}">
                        <a class="icon-database" data-menu="customer" th:href="@{/customer}" th:text="#{customer}">Customer</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''PROMO_MK'', ''PROMO_CK'')')}">
                        <a class="icon-database" data-menu="promo" th:href="@{/promo}" th:text="#{promo}">Promo</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''PROMO_CATEGORY_MK'', ''PROMO_CATEGORY_CK'')')}">
                        <a class="icon-database" data-menu="promocategory" th:href="@{/promocategory}" th:text="#{promoCategory}">Promo Category</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''EVENT_MK'', ''EVENT_CK'')')}">
                        <a class="icon-database" data-menu="event" th:href="@{/event}" th:text="#{event}">Event</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''SETTING'')')}">
                        <a class="icon-database" data-menu="setting" th:href="@{/setting}" th:text="#{setting}">Setting</a>
                    </li>
                </ul>
            </li>
            <li>
                <span th:text="#{wellness}">WELLNESS</span>
                <ul>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''APPOINTMENT_MK'', ''APPOINTMENT_CK'')')}">
                        <a class="icon-medical" data-menu="appointment" th:href="@{/appointment}" th:text="#{appointment}">Appointment</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''MEDICAL_PROVIDER_MK'', ''MEDICAL_PROVIDER_CK'')')}">
                        <a class="icon-medical" data-menu="medicalprovider" th:href="@{/medicalprovider}" th:text="#{medicalProvider}">Medical Provider</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''MEDICAL_CITY_MK'', ''MEDICAL_CITY_CK'')')}">
                        <a class="icon-medical" data-menu="medicalcity" th:href="@{/medicalcity}" th:text="#{medicalCity}">Medical City</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''MEDICAL_BRANCH_MK'', ''MEDICAL_BRANCH_CK'')')}">
                        <a class="icon-medical" data-menu="medicalbranch" th:href="@{/medicalbranch}" th:text="#{medicalBranch}">Medical Branch</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''HEALTH_PACKAGE_MK'', ''HEALTH_PACKAGE_CK'')')}">
                        <a class="icon-medical" data-menu="healthpackage" th:href="@{/healthpackage}" th:text="#{healthPackage}">Health Package</a>
                    </li>
                </ul>
            </li>
            <li>
                <span th:text="#{airportAssistance}">Airport Assistance</span>
                <ul>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''DEPARTURE_MK'', ''DEPARTURE_CK'')')}">
                        <a class="icon-airport" data-menu="departure" th:href="@{/departure}" th:text="#{departure}">Departure</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''ARRIVAL_MK'', ''ARRIVAL_CK'')')}">
                        <a class="icon-airport" data-menu="arrival" th:href="@{/arrival}" th:text="#{arrival}">Arrival</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''AIRPORT_MK'', ''AIRPORT_CK'')')}">
                        <a class="icon-airport" data-menu="airport" th:href="@{/airport}" th:text="#{airport}">Airport</a>
                    </li>
                </ul>
            </li>
            <li>
                <span th:text="#{product}">Product</span>
                <ul>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''PRODUCT_MK'', ''PRODUCT_CK'')')}">
                        <a class="icon-bookmark" data-menu="priviledgeproduct" th:href="@{/priviledgeproduct}" th:text="#{priviledge}">Priviledge</a>
                    </li>
                   <li th:if="${#authorization.expression('hasAnyAuthority(''PRODUCT_MK'', ''PRODUCT_CK'')')}">
                        <a class="icon-bookmark" data-menu="trxproduct" th:href="@{/trxproduct}" th:text="#{bankingTransaction}">Banking Transaction</a>
                    </li>
                </ul>
            </li>
            <li>
                <span th:text="#{order}">Order</span>
                <ul>
                	<li th:if="${#authorization.expression('hasAnyAuthority(''ORDER_MK'', ''ORDER_CK'')')}">
                        <a class="icon-basket" data-menu="tadaorder" th:href="@{/tadaorder}" th:text="#{gift}">Gift</a>
                   	</li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''ORDER_MK'', ''ORDER_CK'')')}">
                        <a class="icon-basket" data-menu="priviledgeorder" th:href="@{/priviledgeorder}" th:text="#{priviledge}">Priviledge</a>
                    </li>
                   	<li th:if="${#authorization.expression('hasAnyAuthority(''ORDER_MK'', ''ORDER_CK'')')}">
                        <a class="icon-basket" data-menu="trxorder" th:href="@{/trxorder}" th:text="#{bankingTransaction}">Banking Transaction</a>
                   	</li>
                </ul>
            </li>
            <li>
                <span th:text="#{userManagement}">User Management</span>
                <ul>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''USER_MK'', ''USER_CK'')')}">
                        <a class="icon-users" data-menu="user" th:href="@{/user}" th:text="#{user}">User</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MK'', ''ROLE_CK'')')}">
                        <a class="icon-users" data-menu="role" th:href="@{/role}" th:text="#{role}">Role</a>
                    </li>
                </ul>
            </li>
            <li>
                <span th:text="#{log}">Log</span>
                <ul>
                    <li th:if="${#authorization.expression('hasAuthority(''LOG'')')}">
                        <a class="icon-history" data-menu="loglogin" th:href="@{/loglogin}" th:text="#{loglogin}">Log Login</a>
                    </li>
                    <li th:if="${#authorization.expression('hasAuthority(''LOG'')')}">
                        <a class="icon-history" data-menu="logauditcustomer" th:href="@{/logauditcustomer}" th:text="#{logauditcustomer}">Log Audit Customer</a>
                    </li>
                </ul>
            </li>
            <li>
                <span th:text="#{task}">Task</span>
                <ul>
                    <li>
                        <span th:text="#{data}">Data</span>
                        <ul>
                            <li th:if="${#authorization.expression('hasAnyAuthority(''CUSTOMER_MK'', ''CUSTOMER_CK'')')}">
                                <a class="icon-task" data-menu="taskcustomer" th:href="@{/taskcustomer}" th:text="#{customer}">Customer</a>
                            </li>
                            <li th:if="${#authorization.expression('hasAnyAuthority(''PROMO_MK'', ''PROMO_CK'')')}">
                                <a class="icon-task" data-menu="taskpromo" th:href="@{/taskpromo}" th:text="#{promo}">Promo</a>
                            </li>
                            <li th:if="${#authorization.expression('hasAnyAuthority(''PROMO_CATEGORY_MK'', ''PROMO_CATEGORY_CK'')')}">
                                <a class="icon-task" data-menu="taskpromocategory" th:href="@{/taskpromocategory}" th:text="#{promocategory}">Promo Category</a>
                            </li>
                            <li th:if="${#authorization.expression('hasAnyAuthority(''EVENT_MK'', ''EVENT_CK'')')}">
                                <a class="icon-task" data-menu="taskevent" th:href="@{/taskevent}" th:text="#{event}">Event</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <span th:text="#{userManagement}">User Management</span>
                        <ul>
                            <li th:if="${#authorization.expression('hasAnyAuthority(''USER_MK'', ''USER_CK'')')}">
                                <a class="icon-task" data-menu="taskuser" th:href="@{/taskuser}" th:text="#{user}">User</a>
                            </li>
                            <li th:if="${#authorization.expression('hasAnyAuthority(''ROLE_MK'', ''ROLE_CK'')')}">
                                <a class="icon-task" data-menu="taskrole" th:href="@{/taskrole}" th:text="#{role}">Role</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
</body>

</html>