<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>DBS Loyalty</title>
</head>

<body>
	<div th:fragment="content" th:remove="tag">
	    <ul class="vertical-menu">
	        <li>
	            <span>Customer</span>
	            <ul>
	                <li><a href="/customer/view.html">Customer</a></li>
	                <li><a href="/lovedone/view.html">Loved One</a></li>
	            </ul>
	        </li>
	        <li>
	            <span>Promo</span>
	            <ul>
	                <li><a href="/promo/view.html">Promo</a></li>
	                <li><a href="/promocategory/view.html">Promo Category</a></li>
	            </ul>
	        </li>
	        <li>
	            <span>User Management</span>
	            <ul>
	                <li><a href="/user/view.html">User</a></li>
	                <li><a href="/role/view.html" th:href="@{role}">Role</a></li>
	            </ul>
	        </li>
	        <li>
	            <span>Log</span>
	            <ul>
	                <li><a href="/loglogin/view.html">Log Login</a></li>
	            </ul>
	        </li>
	        <li>
	            <span>Task</span>
	            <ul>
	                <li>
	                    <span>Customer</span>
	                    <ul>
	                        <li>
	                            <a href="/task/customer/view.html">Customer Task</a>
	                        </li>
	                    </ul>
	                </li>
	                <li>
	                    <span>Promo</span>
	                    <ul>
	                        <li><a href="/task/promo/view.html">Promo Task</a></li>
	                        <li><a href="/task/promocategory/view.html">Promo Category Task</a></li>
	                    </ul>
	                </li>
	                <li>
	                    <span>User Management</span>
	                    <ul>
	                        <li><a href="/task/user/view.html">User Task</a></li>
	                        <li><a href="/task/role/view.html">Role Task</a></li>
	                    </ul>
	                </li>
	            </ul>
	        </li>
	    </ul>
    </div>
</body>

</html>