<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>DBS Loyalty</title>
</head>
<body>
	<div th:fragment="content">
		<div class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-delay="10000" th:if=${error}>
		  	<div class="toast-body">
		  		<span class="mr-auto">
		  			<span class="icon-attention"></span> <span th:text="|Error : ${error}|"></span>
		  		</span>
		  		<span class="close" data-dismiss="toast" aria-label="Close">
		      		<span class="icon-cancel"></span>
		    	</span>
		  	</div>
		</div>
	</div>
</body>

</html>