<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.org" class="h-100">

<head th:replace="fragment/head.html :: content(title=#{password})"></head>

<body>
	<div th:replace="fragment/navbar.html :: content"></div>
	<div class="bg-white">
		<nav aria-label="breadcrumb" th:if="${not password.ownPassword}">
	        <ol class="breadcrumb border-bottom">
	            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{menu.home}"></a></li>
	            <li class="breadcrumb-item"><a th:href="@{/user}" th:text="#{menu.user}"></a></li>
	            <li class="breadcrumb-item active" aria-current="page" th:text="#{menu.password}"></li>
	        </ol>
	    </nav>
	    <nav aria-label="breadcrumb" th:if="${password.ownPassword}">
	        <ol class="breadcrumb border-bottom">
	            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{menu.home}"></a></li>
	            <li class="breadcrumb-item active" aria-current="page" th:text="#{menu.password}"></li>
	        </ol>
	    </nav>
		<div class="container-fluid pb-3">
			<div class="min-height row justify-content-center align-items-center">
				<div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
					<div class="bg-white border p-4">
						<th:block th:if="${userType.toString() == 'Internal'}">
							<div class="text-center" th:text="#{message.userInternalCanNotChangePassword}"></div>
						</th:block>
						<th:block th:if="${userType.toString() != 'Internal'}">
							<form th:action="${entityUrl}" th:object="${password}" method="post" autocomplete="off" onsubmit="return Data.submit(this)">
								<input type="hidden" th:field="*{loggedUsername}" />
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="icon-user-circle-o"></i></div>
										</div>
										<input class="form-control" type="text" th:placeholder="#{label.username}" th:field="*{username}" readonly="readonly" />
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-prepend">
											<div class="input-group-text"><i class="icon-lock"></i></div>
										</div>
										<input class="form-control" type="password" placeholder="password" th:placeholder="#{label.password}" th:field="*{passwordPlain}">
									</div>
								</div>
								<div class="row no-gutters">
									<div class="col-12">
										<button class="btn btn-block btn-primary" type="submit">
											<i class="icon-floppy"></i> <span th:text="#{label.save}">Save</span>
										</button>
									</div>
								</div>
							</form>
						</th:block>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div th:replace="fragment/footer.html :: content"></div>
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>