<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{user}">User</title>
</head>

<body data-menu="user"> 
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
		<ol class="breadcrumb">
       		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
       		<li class="breadcrumb-item"><a th:href="@{/user}" th:text="#{user}">User</a></li>
      		<li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
		<div class="table-responsive border border-top-0" th:if="${user}">
       		<table class="table table-sm table-detail" style="min-width: 400px;">
          		<tbody>
               		<tr>
                		<th th:text="#{id}">Id</th>
                    	<td th:text="${user.id}">ZwOkjFmG</td>
                 	</tr>
                 	<tr>
                 		<th th:text="#{userType}">User Type</th>
                 		<td th:text="${user.userType}">INTERNAL</td>
                 	</tr>
                	<tr>
                 		<th th:text="#{username}">Username</th>
                  		<td th:text="${user.username}">ferrylinton</td>
               		</tr>
               		<tr>
                    	<th th:text="#{role}">Role</th>
                      	<td th:text="${user.role.name}">Maker</td>
                  	</tr>
					<tr th:replace="fragment/audit-detail.html :: content(data=${user})"></tr>
            	</tbody>
      		</table>
		</div>
		<div class="toolbar">
      		<a class="btn btn-light" th:href="@{/user}">
       			<span class="icon-left"></span> <span th:text="#{back}">Back</span>
      		</a>
		</div>
	</div>
</body>

</html>