<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''USER_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{user}">User</title>
</head>

<body data-menu="user">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
 		<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
      		<li class="breadcrumb-item active" aria-current="page" th:text="#{user}">User</li>
      	</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/search.html :: content('/user', ${isMaker})"></div>
		<div class="table-responsive border border-top-0" th:if="${page.getTotalElements() > 0}">
     		<table class="table table-sm table-striped table-hover border-bottom" style="min-width: 600px">
          		<thead>
              		<tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
                    	<th style="width:40px"></th>
                   		<th style="width:50px">#</th>
                  		<th th:with="sort=|&sort=username,${ascending ? 'DESC' : 'ASC'}|">
                     		<a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                           		<span th:text="#{username}">Username</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                       		</a>
                     	</th>
                      	<th th:text="#{userType}">Type</th>
                     	<th th:text="#{activated}">Activated</th>
                       	<th th:text="#{locked}">Locked</th>
                      	<th th:text="#{role}">Role</th>
            		</tr>
             	</thead>
              	<tbody>
              		<tr th:each="user,row : ${page}">
                                <td class="py-0 px-1">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-default dropdown-toggle px-1 py-0 font-12" id="dropdownMenuButton"
                                            data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon-cog"></span>
                                        </button>
                                        <div class="dropdown-menu py-0 shadow" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item pl-1" href="/user/user-detail.html" th:href="@{|/user/${user.id}/detail|}">
                                                <span class="icon-eye"></span> <span th:text="#{detail}">Detail</span>
                                            </a>
                                            <th:block th:if="${isMaker && !user.pending}">
                                                <a class="dropdown-item pl-1" href="/user/user-form.html" th:href="@{|/user/${user.id}|}">
                                                    <span class="icon-edit"></span> <span th:text="#{edit}">Edit</span>
                                                </a>
                                                <div class="dropdown-divider my-0"></div>
                                                <button class="dropdown-item pl-1 text-danger" title="/user/user-view.html/1" th:title="@{|/user/delete/${user.id}|}" data-toggle="modal" data-target="#delete-modal">
                                                    <span class="icon-trash"></span> <span th:text="#{delete}">Delete</span>
                                                </button>
                                            </th:block>
                                        </div>
                                    </div>
                                </td>
                                <td th:text="${row.count + (page.number * page.size)}">1</td>
                                <td th:text="${user.username}">ferrylinton</td>
                                <td th:text="${user.userType}">Internal</td>
                                <td><span class="text-success icon-ok" th:class="${user.activated} ? 'text-success icon-ok' : 'text-danger icon-cancel'"></span></td>
                                <td><span class="text-danger icon-cancel" th:class="${user.locked} ? 'text-success icon-ok' : 'text-danger icon-cancel'"></span></td>
                                <td th:text="${user.role == null ? '-' : user.role.name}">Checker</td>
             		</tr>
           		</tbody>
       		</table>
    	</div>
		<div th:replace="fragment/not-found.html :: content"></div>
		<div th:replace="fragment/pager.html :: content"></div>
		<div th:replace="fragment/toast.html :: content"></div>
		<div th:replace="fragment/delete-modal.html :: content"></div>
	</div>
</body>

</html>