<html xmlns:th="http://www.thymeleaf.org">

<body>
    <div th:fragment="content" th:remove="tag">
        <form class="upload-file" method="post" action="#">
            <input type="file" name="file" th:title="#{label.pickImage}" />
            <button class="btn btn-block btn-secondary btn-sm text-left" type="button">
				<span th:text="#{label.pickImage}"></span><i class="icon-folder-open-empty float-right"></i>
			</button>
            <div id="preview-image" class="w-100 border mt-1 p-1">
        		<img class="w-100" th:src="|${contextPath}/static/image/no-image.png|">
        	</div>
        </form>
    </div>
</body>

</html>