<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="contextPath" content="/" th:content="@{/}" />
    <title th:text="|#{application.name} : Error|"></title>
    <link href="/static/image/favicon.png" th:href="@{/static/image/favicon.png}" rel="shorcut icon" />
    <link href="/static/css/all.min.css" th:href="@{/static/css/all.min.css}" rel="stylesheet" />
</head>

<body>
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box">
	    <!-- BREADCRUMB -->
	    <nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}"></a></li>
		 		<li class="breadcrumb-item active" aria-current="page" th:text="#{error}"></li>
			</ol>
		</nav>
	    <div id="main-content">
	        <div class="border-bottom pb-2 text-danger">
	       		<span class="icon-attention"></span> <span>Error</span> : <span th:text="${errorData.statusCode}"></span>
	   		</div>
	      	<div class="py-2">
	        	<span th:text="${errorData.requestURI}"></span>
	         	<p nl2br:text="${errorData.message}"></p>
	        	<a class="btn btn-sm btn-danger" data-toggle="collapse" href="#error-detail" role="button"
	          		aria-expanded="false" aria-controls="error-detail" th:if="${not #strings.isEmpty(errorData.detail)}">
	          		<span class="icon-down"></span> <span th:text="#{detail}"></span>
	         	</a>
	      		<div class="collapse border-top mt-3 pt-2 font-08" id="error-detail">
	     			<p class="no-break" nl2br:text="${errorData.detail}"></p>
	         	</div>
	    	</div>
	    </div>
	    <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
	</div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <script src="/static/js/all.min.js" th:src="@{/static/js/all.min.js}"></script>
    <script src="/static/js/fragment.js" th:remove="all"></script>
</body>

</html>