body{
	padding-top: 60px;
	background-color: #000;
}

.navbar{
	height: 60px;
}

.font-08{
	font-size: .8em !important;
}

.font-12{
	font-size: 1.225em !important;
}

.font-15{
	font-size: 1.5em !important;
}

.font-menu{
	font-size: 3.5em !important;
}

.bg-black {
    background-color: #000!important;
}

.bg-black-20 {
	background: rgba(0, 0, 0, 0.2);
}

.bg-readonly{
	background-color: #e9ecef!important;
}

.border-red{
	border-color: #c00!important;
}

.border-black{
	border-color: #000!important;
}

.border-readonly{
	border-color: #ced4da!important;
}

.border-2{
	border-width: 2px!important;
}

.border-3{
	border-width: 3px!important;
}

.border-4{
	border-width: 4px!important;
}

.min-height{
	min-height: 500px;
}

@media ( min-width : 992px) {
	
	.min-height{
		min-height: 500px;
	}
	
}

@media ( min-width : 768px) {
	
	.min-height{
		min-height: 500px;
	}
	
}

@media ( min-width : 576px) {
	
	.min-height{
		min-height: 500px;
	}
	
}

.btn-danger {
    background-color: #ed1c24;
    border-color: #e31a1a;
}

.btn-danger:hover,  .btn-danger:active{
    background-color: #dc0d15;
    border-color: #d40810;
}

/* LOGIN */

.bg-login{
	background-image: url("../image/login-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height:420px;
}

.login-box{
	height: calc(100% - 75px);
}

@media ( min-width : 576px) {
	 
	.login-box{
		height: calc(100% - 53px);
	}
	
}

/* TABLE */

.table tbody tr td .dropdown-toggle::after{
	display: none;
	border:none;
}

.table tbody tr td .btn-default{
	background-color: transparent;
}
.table tbody tr td .btn-default:hover{
	color: $primary;
}

.table tbody tr td .btn:focus, .table tbody tr td .btn.focus {
	outline:0;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	color: $primary;
}

.no-break{
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

/* OVERRIDE BOOTSTRAP */

.breadcrumb{
	border-radius: 0;
	padding: .45rem 1rem;
}

.form-control::placeholder{
	color: #d6d6d6;
}

::placeholder {
  color: #d6d6d6;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #d6d6d6;
}

::-ms-input-placeholder {
  color: #d6d6d6;
}

.form-control{
	border-radius: 0;
}

