html {
	padding: 0;
	margin: 0;
}

body{
	padding: 60px 0 0 0;
	margin: 0;
	background-color: #d3d7cf;
}

a{
	cursor: pointer;
}

a:hover{
	text-decoration: none;
}

/* OVERRIDE BOOTSTRAP */

.btn, 
.badge,
.alert,
.modal-content, 
.dropdown-menu, 
.custom-select, 
.custom-file-label, 
.input-group-text, 
.form-control{
	border-radius: 0;	
}

.btn-danger {
    background-color: #ed1c24;
    border-color: #e31a1a;
}

.btn-danger:hover,  .btn-danger:active{
    background-color: #dc0d15;
    border-color: #d40810;
}

.btn-light{
	background-color: #fff; 
	border: solid 1px #dee2e6;
}

.breadcrumb{
	padding: .2rem 1rem;
	text-transform: uppercase;
	font-size: .85em;
	border-bottom: solid 1px #ced4da;
}

.form-control[readonly] {
    background-color: #ffffff;
    opacity: 1;
}

.form-control::placeholder {
    color: #ddd;
    opacity: 1;
    text-transform: lowercase;
}

.border.is-invalid{
	border-color: #dc3545!important;
}

.border.is-invalid~.invalid-feedback{
    display: block;
}

.toast{
	width: calc(100% - 10px);
	max-width: none;
	z-index: 1500; 
	position: absolute; 
	top: 5px;
    border-width: 1px;
    border-radius: 0;
    background-color: #fff;
}

@media ( min-width : 576px) {

	.toast{
		width: calc(100% - 10px);
		max-width: none;
	}

}

@media (min-width: 768px){

	.toast{
		width: 500px;
		max-width: none;
	}

}

.custom-select option {
    padding: 8px 4px;
    margin: 4px;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
}

.custom-file-input:lang(id)~.custom-file-label::after {
    content: "Pilih Berkas";
}

.modal .btn{
	min-width: 100px;
}

.modal-footer {
	display: block;
    padding: 12px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.btn .icon-detail:before {   
  content: "\e821";
}

.btn.collapsed .icon-detail:before {
  content: "\e822";
}

/* TRUMBOWYG */

.trumbowyg-box, .trumbowyg-editor {
    margin: 0 auto;
}

.is-invalid .trumbowyg-box{
    border-color: #dc3545;
}

/* DATETIMEPICKER */

.datepicker{
	margin-bottom: 10px;
}

.timepicker{
	margin-bottom: 10px;
}

.datepicker .table{
	border: solid 1px #dee2e6;
	font-size: 0.9em;
}

.datepicker .table th{
	font-weight: normal;
	border-bottom: 1px solid #dee2e6;
}

.datepicker .table th, .bootstrap-datetimepicker-widget table th.disabled{
	background-color: #f4f4f4;
}

.bootstrap-datetimepicker-widget table td, .bootstrap-datetimepicker-widget table th {
    border-radius: 0;
}

/* LOGIN */

.bg-login{
	height: 100%!important;
	background-image: url("../image/login-bg.png");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.login-header{
	border-top: solid 4px red;
	background-color: #000;
	color: #fff;
}

.login-header img{
	float: left;
	padding: 15px 20px
}

.login-box{
	height: calc(100% - 75px);
}

@media ( min-width : 576px) {
	 
	.login-box{
		height: calc(100% - 53px);
	}
	
}

/* NAVBAR */

.navbar{
	height: 60px;
	min-width: 350px;
	background-color: #000;
	border-bottom: solid 3px #c00;
	padding: 0;
	margin: 0;
}

.navbar .dropdown-toggle::after{
	margin-left: 0;
}

.navbar .btn-nav{
	font-size: 1.2rem;
	padding: .15rem .5rem;
	color: #fff;
}

.navbar .btn-menu{
	height: 56px;
	border-right: solid 1px #434343;
	font-size: 1.4rem;
	padding: .15rem .85rem;
	color: #fff;
}

.navbar .btn-menu:focus{
	outline: none !important;
  	box-shadow: none !important;
}
	
.navbar .btn-group.btn-nav .btn{
	border: none;
}
	
.navbar .btn-menu:hover, .btn-nav:hover{
	color: #007bff;
}

.label{
	display: none;	
	font-size: 1rem;
}

@media ( min-width : 576px) {
	
	.label{
		display: inline-block;
	}
	
}

/* FOOTER */

#footer{
	margin-top: 15px;
	padding: 15px 0;
	font-size: .9em;
	border-top: solid 1px #babdb6;
	background-color: #d3d7cf;
}

#footer a{
	padding: 1px 4px;
}

#footer-login{
	background: rgba(0, 0, 0, 0.2);
	padding: 15px;
	font-size: .9em;
	color: #fff;
	width: 100%;
	position: fixed;
	z-index: 1;
	bottom: 0;
	left: 0;
	text-transform: uppercase;
	text-align: center;
}
	
#footer-login a{
	color: #fff;
	padding: 1px 4px;
}

#footer-login a:hover{
	text-decoration: none;
	color: #007bff;
}

/* LAYOUT */

#content-box{
	margin: 0;
	padding: 0;
	transition: 0.8s;
	background-color: #f8f8f8;
	min-width: 350px;
	border-top: solid 1px #d3d7cf;
}

#sidenav-box{
	width: 250px;
	height: 100%;
	height: calc(100% - 60px);
	position: fixed;
	z-index: 1001;
	top: 60px;
	left: -250px;
	overflow-x: hidden;
	transition: 0.8s;
	background-color: #242527;
	border-right: solid 1px #141313;
}

#sidenav-box.shadow{
	-webkit-box-shadow: 2px 0px 2px 0px rgba(135,135,135,1)!important;;
	-moz-box-shadow: 2px 0px 2px 0px rgba(135,135,135,1)!important;;
	box-shadow: 2px 0px 2px 0px rgba(135,135,135,1)!important;;
}

#main-content{
	border: solid 1px #ced4da;
	margin: 15px;
	padding: 15px;
	min-height: 400px;
	background-color: #fff;
}

/* WELCOME BOX */

.welcome-box h3{
	font-size: 1.5em;
}
	
.welcome-box .table{
	margin: 20px 0 0 0;
}

@media ( min-width : 576px) {

	.welcome-box .table{
		width: 500px;
	}

}

@media (min-width: 768px){

	.welcome-box h3{
		font-size: 2.0em;
	}

}

/* TABLE DETAIL - JSON */

.table-detail{
	min-width: 600px;
	font-size: .9em;
}

.table-detail th{
	width: 140px;
	background-color: #f7fafc;
	border-right: solid 1px #ced4da;
}

.table-detail ol{
	padding: 0 0 0 15px;
	margin: 0 0 0 15px;
}

.table-detail .json{
	padding: 15px;
}

.json{
	padding: 0;
	margin-bottom: 0;
	overflow: auto;
}
.json .table{
	margin-bottom: 0;
}
.json .table th{
	font-weight: bold;
	background-color: #f2f2f2;
}

.json .table table{
	font-size: .9em;	
}

.json .table table th{
	font-weight: bold;
	background-color: #f9f9f9;
}

.json .btn{
		min-width: 200px;
}

.hidden{
	display: none;
	height: 0;
}

.no-break{
	/* These are technically the same, but use both */
	overflow-wrap: break-word;
	word-wrap: break-word;

	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;

	/* Adds a hyphen where the word breaks, if supported (No Blink) */
	-ms-hyphens: auto;
	-moz-hyphens: auto;
	-webkit-hyphens: auto;
	hyphens: auto;
}

.toolbar .btn{
	min-width: 110px;
	text-transform: uppercase;
}

.toolbar .btn-light{
	border: solid 1px #ced4da;
}

.font-08{
	font-size: 0.8em !important;
}

.font-12{
	font-size: 1.225em !important;
}

.border-2 {
    border-width: 2px !important;
}

.text-red{
	color: #c00 !important;
}

.border-4{
	border-width: 4px!important;
}

.border-red-dbs {
    border-color: #c00 !important;
}

.scroll-box-md {
    height: 100px;
    overflow: auto;
}

.scroll-box-lg {
    height: 150px;
    overflow: auto;
}

.table-responsive{
	margin-bottom: 15px;
}

.table-responsive .table{
	margin-bottom: 0;
}

.table-responsive .table td.p-0{
	background-color: #dee2e6;
	border: solid #d3d7cf;
	border-width: 0 1px 1px 0;
}

.table-responsive .table .dropdown-toggle{
	margin-left: 2px;
	padding: 0 4px 0 0;
	font-size: 1.2em;
}
.table-responsive .table .dropdown-toggle::after{
	margin: 0;
}

/* EASYAUTOCOMPLETE */

.easy-autocomplete{
  width:100% !important;
}

.easy-autocomplete input{
  width: 100%;
}

.easy-autocomplete input {
  margin : 0px;
  border-radius: 0;
  box-shadow: none;
}

.input-grp-autocomplete{
	padding-bottom: 2px !important;
}