.vertical-menu{
	list-style: none;
	padding: 0;
}

.vertical-menu [class^="icon-"]:before, 
.vertical-menu [class*=" icon-"]:before{
	margin-right: .5em;
	margin-left: 0;
}

.vertical-menu a, .vertical-menu span{
	display: block;
	text-transform: uppercase;
}

.vertical-menu span{
	padding: 5px 15px;
	font-size: .7em;
	font-weight: bold;
	color: #676767;
	background-color: #313131;
}

.vertical-menu a{
	font-size: .9em;
	padding: 5px 15px 5px 15px;
	text-decoration: none;
	color: #fff;
}

.vertical-menu a.active{
	color: #007bff;
}

.vertical-menu a:hover{
	color: #007bff;
	background-color: #272b30;
}

.vertical-menu ul{
	list-style: none;
	padding: 0;
}

.vertical-menu ul span{
	padding-bottom: 0;
	font-weight: normal;
	background-color: transparent;
}

.vertical-menu ul ul{
	list-style: none;
	padding: 0;
}
