<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: content(title=|#{application.name} : #{customer}|)"></head>

<body data-menu="customer">
	<div id="js-date-format" th:text="${@settingService.jsDate()}" class="hidden"></div>
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box" th:with="isMaker=${#authorization.expression('hasAuthority(''CUSTOMER_MK'')')}">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item"><a href="/customer/customer-view.html" th:href="@{/customer}" th:text="#{customer}">Customer</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{form}">Form</li>
            </ol>
        </nav>
        <div id="main-content">
            <!-- MESSAGE -->
            <div class="border alert alert-light text-center" role="alert" th:if="${error}">
                <span class="icon-attention"></span> <span th:text="${error}">Data ['xxxx'] is not found</span>
            </div>
            <!-- FORM -->
            <th:block th:if="${customer}">
                <form action="/customer/customer-view.html" th:action="@{/customer}" th:object="${customer}" method="post" autocomplete="off" enctype="multipart/form-data">
                    <div class="row" th:object="${customer}">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="customerType" th:text="#{customerType}">Customer Type</label>
                                <select class="custom-select" th:field="*{customerType}">
                                    <option value="0025">TPC</option>
                                    <option value="0012">TREASURE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="name" th:text="#{name}">Name *</label>
                                <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:field="*{name}" maxlength="50" />
                            	<div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:uerrors="*{name}">Error</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="email" th:text="#{email}">Email *</label>
                                <input class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" type="text" th:field="*{email}" maxlength="50" />
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:uerrors="*{email}">Error</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="phone" th:text="#{phone}">Phone *</label>
                                <input class="form-control" th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}" type="text" th:field="*{phone}" maxlength="20" />
                            	<div class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:uerrors="*{phone}">Error</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="dob" th:text="|#{dob} *|">DOB *</label>
                                <input class="form-control" type="text" th:placeholder="#{dob}" id="dob" name="dob" th:value="${#temporals.format(customer.dob, @settingService.javaDate())}" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" th:if="*{id != null}">
                        	<div class="pt-sm-3 mb-3 mt-sm-4">
		                    	<div class="custom-control custom-switch d-inline-block">
		                     		<input type="checkbox" id="locked" th:field="*{locked}" class="custom-control-input">
		                        	<label class="custom-control-label" for="locked" th:text="#{locked}">Locked</label>
		                    	</div>
		                    </div>
	             		</div>
                    </div>
                    <div class="row">
						<div class="col-12" th:if="*{id != null}">
							<div class="form-group">
								<label for="image" th:text="#{image}">Image</label>
								<div class="d-block overflow-auto">
									<img class="border p-1" alt="image" src="/image/500x200.png" th:src="@{|/image/${customer.id}|}" />
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
							<div class="form-group">
								<div class="custom-file">
									<input type="file" th:accept="${#strings.listJoin(@applicationProperties.getFile().getImageContentTypes(),',')}" class="custom-file-input" th:classappend="${#fields.hasErrors('multipartFileImage') ? 'is-invalid' : ''}" id="multipartFileImage" name="multipartFileImage" onchange="ImageUtil.show(this)">
									<label class="custom-file-label" th:text="#{chooseImageFile}"></label>
									<div class="invalid-feedback" th:if="${#fields.hasErrors('multipartFileImage')}" th:uerrors="*{multipartFileImage}">Error</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group" id="preview-image" style="display: none;">
								<div class="d-block overflow-auto">
									<img class="border p-1" alt="image" src="" />
								</div>
							</div>
						</div>
					</div>
					<!-- HIDDEN -->
                    <input type="hidden" th:field="*{id}" th:if="*{id != null}"/>
                    <input type="hidden" th:field="*{locked}" th:if="*{id == null}"/>
                    <input type="hidden" th:field="*{activated}"/>
                    <input type="hidden" th:field="*{passwordHash}"/>
                    <input type="hidden" th:field="*{createdBy}"/>
                    <input type="hidden" th:field="*{createdDate}"/>
                    <input type="hidden" th:field="*{lastModifiedBy}"/>
                    <input type="hidden" th:field="*{lastModifiedDate}"/>
                    <!-- TOOLBAR -->
                    <div class="toolbar">
                        <a class="btn btn-light" href="/customer/customer-view.html" th:href="@{/customer}">
                            <span class="icon-left" th:text="#{back}">Back</span>
                        </a>
                        <button class="btn btn-light text-primary" type="submit" th:if="${isMaker && !customer.pending}">
                            <span class="icon-floppy" th:text="#{save}">Save</span>
                        </button>
                    </div>
                </form>
            </th:block>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>