<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''CUSTOMER_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{customer}">Customer</title>
</head>

<body data-menu="customer">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
		<ol class="breadcrumb">
  			<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
        	<li class="breadcrumb-item"><a th:href="@{/customer}" th:text="#{customer}">Customer</a></li>
         	<li class="breadcrumb-item active" aria-current="page" th:text="#{form}">Form</li>
		</ol>
	</nav>
 	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
 		<form th:action="@{/customer}" th:object="${customer}" method="post" autocomplete="off" enctype="multipart/form-data">
			<th:block th:if="${customer}">
          		<div class="row" th:object="${customer}">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="customerType" th:text="#{customerType}">Customer Type</label>
                                <select class="custom-select" th:field="*{customerType}">
                                    <option value="0025">TPC</option>
                                    <option value="0012">TREASURE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="cif" th:text="#{cif}">CIF *</label>
                                <input class="form-control" th:classappend="${#fields.hasErrors('cif') ? 'is-invalid' : ''}" type="text" th:placeholder="#{cif}" th:field="*{cif}" maxlength="50" />
                            	<div class="invalid-feedback" th:if="${#fields.hasErrors('cif')}" th:uerrors="*{cif}">Error</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="name" th:text="#{name}">Name *</label>
                                <input class="form-control" th:classappend="${#fields.hasErrors('name') ? 'is-invalid' : ''}" type="text" th:placeholder="#{name}" th:field="*{name}" maxlength="50" />
                            	<div class="invalid-feedback" th:if="${#fields.hasErrors('name')}" th:uerrors="*{name}">Error</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="email" th:text="#{email}">Email *</label>
                                <input class="form-control" th:classappend="${#fields.hasErrors('email') ? 'is-invalid' : ''}" type="text" th:placeholder="#{email}" th:field="*{email}" maxlength="50" />
                                <div class="invalid-feedback" th:if="${#fields.hasErrors('email')}" th:uerrors="*{email}">Error</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="phone" th:text="#{phone}">Phone *</label>
                                <input class="form-control" th:classappend="${#fields.hasErrors('phone') ? 'is-invalid' : ''}" type="text" th:placeholder="#{phone}" th:field="*{phone}" maxlength="20" />
                            	<div class="invalid-feedback" th:if="${#fields.hasErrors('phone')}" th:uerrors="*{phone}">Error</div>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="dob" th:text="|#{dob} *|">DOB *</label>
                                <input class="form-control" type="text" th:placeholder="#{dob}" id="dob" name="dob" th:value="${#temporals.format(customer.dob, @settingService.javaDate())}" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
	                     	<div class="form-group">
	                         	<label for="country" th:text="#{country}">Country</label>
	                        	<select class="custom-select" th:field="*{country}">
	                                    <option th:each="ctry: ${countries}" th:value="${ctry.id}" th:text="${ctry.name}">Country</option>
	                          	</select>
	                      	</div>
	               		</div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" th:if="*{id != null}">
                        	<div class="pt-sm-3 mb-3 mt-sm-4">
		                    	<div class="custom-control custom-switch d-inline-block">
		                     		<input type="checkbox" id="locked" th:field="*{locked}" class="custom-control-input">
		                        	<label class="custom-control-label" for="locked" th:text="#{locked}">Locked</label>
		                    	</div>
		                    </div>
	             		</div>
              	</div>
             	<div class="row">
						<div class="col-12" th:if="*{id != null}">
							<div class="form-group">
								<label for="image" th:text="#{image}">Image</label>
								<div class="d-block overflow-auto">
									<img class="border p-1" alt="image" src="/image/500x200.png" th:src="@{|/image/${customer.id}|}" />
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8">
							<div class="form-group">
								<div class="custom-file">
									<input type="file" th:accept="${#strings.listJoin(@applicationProperties.getFile().getImageContentTypes(),',')}" class="custom-file-input" th:classappend="${#fields.hasErrors('multipartFileImage') ? 'is-invalid' : ''}" id="multipartFileImage" name="multipartFileImage" onchange="ImageUtil.show(this)">
									<label class="custom-file-label" th:text="#{chooseImageFile}"></label>
									<div class="invalid-feedback" th:if="${#fields.hasErrors('multipartFileImage')}" th:uerrors="*{multipartFileImage}">Error</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group" id="preview-image" style="display: none;">
								<div class="d-block overflow-auto">
									<img class="border p-1" alt="image" src="" />
								</div>
							</div>
						</div>
				</div>
          		<input type="hidden" th:field="*{locked}" th:if="*{id == null}"/>
           		<input type="hidden" th:field="*{activated}"/>
             	<input type="hidden" th:field="*{passwordHash}"/>
				<div th:replace="fragment/audit-form.html :: content"></div>
			</th:block>
          	<div class="toolbar">
           		<a class="btn btn-sm btn-secondary" th:href="@{/customer}">
               		<span class="icon-left" th:text="#{back}">Back</span>
               	</a>
               	<th:block th:if="${customer}">
               		<button class="btn btn-sm btn-primary" type="submit" th:if="${isMaker && !customer.pending}">
                  		<span class="icon-floppy" th:text="#{save}">Save</span>
               		</button>
       			</th:block>
          	</div>
		</form>
	</div>
</body>

</html>