<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/head.html :: content(title=#{customer})">
    <title>DBS Loyalty : Customer</title>
    <link href="/static/image/favicon.png" rel="shorcut icon" />
    <link href="/static/css/all.min.css" rel="stylesheet" />
</head>

<body>
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: content"></div>
    <div id="content-box">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item"><a href="/customer/customer-view.html" th:href="@{/customer}" th:text="#{customer}">Customer</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{form}">Form</li>
            </ol>
        </nav>
        <div id="main-content">
            <!-- MESSAGE -->
            <div class="border alert alert-light text-center" role="alert" th:if="${error}">
                <span class="icon-attention"></span> <span th:text="${error}">Data ['xxxx'] is not found</span>
            </div>
            <!-- FORM -->
            <th:block th:if="${customer}">
                <form action="/customer/customer-view.html" th:action="@{/customer}" th:object="${customer}" method="post" autocomplete="off" onsubmit="return AjaxUtil.submit(this)">
                    <div class="row" th:object="${customer}">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-8 col-xl-8" th:if="${customer.id != null}">
                            <div class="form-group">
                                <label for="id" th:text="#{id}">Id</label>
                                <input class="form-control" type="text" th:field="*{id}" readonly="readonly" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="customerType" th:text="#{customerType}">Customer Type</label>
                                <select class="custom-select" th:field="*{customerType}">
                                    <option value="TPC">TPC</option>
                                    <option value="TREASURE">TREASURE</option>
                                </select>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="name" th:text="#{name}">Name *</label>
                                <input class="form-control" type="text" th:field="*{name}" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="email" th:text="#{email}">Email *</label>
                                <input class="form-control" type="text" th:field="*{email}" maxlength="50" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4" th:if="${customer.id == null}">
                            <div class="form-group">
                                <label for="password" th:text="#{password}">Password</label>
                                <input class="form-control" type="password" th:field="*{passwordPlain}" maxlength="30" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group">
                                <label for="phone" th:text="#{phone}">Phone *</label>
                                <input class="form-control" type="text" th:field="*{phone}" maxlength="20" />
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="form-group" th:with="format=${@environment.getProperty('application.format.date')}">
                                <label for="dob" th:text="|#{dob} *|">DOB *</label>
                                <input class="form-control" type="text" th:placeholder="#{dob}" id="dob" name="dob" th:value="${#dates.format(customer.dob, format)}" readonly="readonly" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" id="activated" th:field="*{activated}" class="custom-control-input"
                                    onchange="FormUtil.activate(this)">
                                <label class="custom-control-label" for="activated" th:text="#{activated}">Activated</label>
                            </div>
                        </div>
                        <div class="col-12 col-sm-6 col-md-6 col-lg-4 col-xl-4">
                            <div class="custom-control custom-switch mb-3">
                                <input type="checkbox" id="locked" th:field="*{locked}" class="custom-control-input"
                                    onchange="FormUtil.lock(this)">
                                <label class="custom-control-label" for="locked" th:text="#{locked}">Locked</label>
                            </div>
                        </div>
                    </div>
                    <div class="row" th:if="${customer.imageBytes}">
                        <div class="col-12">
                                <div class="form-group">
                                    <label for="image" th:text="#{image}">Image</label>
                                    <div class="d-block overflow-auto">
                                        <img class="border p-1" 
                                            alt="/static/image/500x200.png" 
                                            style="width:500px;height:200px"
                                            src="/static/image/500x200.png" 
                                            th:style="|width:${customer.imageWidth};height:${customer.imageHeight};|" 
                                            th:src="${@base64Service.getString(customer.imageBytes, customer.imageContentType)}" />
                                    </div>
                                </div>
                        </div>
                        <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                            <div class="form-group">
                                <div class="custom-file">
                                    <input type="file" class="custom-file-input" id="file" name="file" onchange="ImageUtil.show(this)">
                                    <label class="custom-file-label" th:text="#{chooseFile}"></label>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group" id="preview-image" style="display: none;">
                                <div class="d-block overflow-auto">
                                    <img class="border p-1" alt="image" src="" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TOOLBAR -->
                    <div class="toolbar">
                        <a class="btn btn-light" href="/customer/customer-view.html" th:href="@{/customer}">
                            <span class="icon-left" th:text="#{back}">Back</span>
                        </a>
                        <button class="btn btn-light text-primary" type="submit">
                            <span class="icon-floppy" th:text="#{save}">Save</span>
                        </button>
                    </div>
                </form>
            </th:block>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: content"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box">
        <div th:replace="fragment/sidenav.html :: content"></div>
    </div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
    <script src="/static/js/all.min.js" th:remove="all"></script>
    <script src="/static/js/fragment.js" th:remove="all"></script>
</body>

</html>