<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: content(title=|#{application.name} : #{customer}|)"></head>

<body>
	<!-- TOAST -->
	<th:block th:if="${not #strings.isEmpty(toast)}">
		<div th:replace="fragment/toast.html :: #toast"></div>
	</th:block>
	<!-- DELETE MODAL -->
	<div th:replace="fragment/delete-modal.html :: #delete-modal"></div>
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box" th:with="isMaker=${#authorization.expression('hasAuthority(''CUSTOMER_MK'')')}">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{customer}">Customer</li>
            </ol>
        </nav>
        <div id="main-content">
            <!-- SEARCH FORM -->
            <div class="row no-gutters mb-3">
                <div class="col-12 col-sm-12 col-md-10 col-lg-7 col-xl-6">
                    <form action="/#" th:action="@{/customer}" method="get" autocomplete="off" >
                        <div class="input-group">
                            <input class="form-control" name="ky" maxlength="40" th:value="${param.ky}" placeholder="keyword" th:placeholder="#{keyword}" />
                            <div class="input-group-append">
                                <button class="btn btn-light" type="submit">
                                    <span class="icon-search"></span>
                                </button>
                                <a class="btn btn-light" href="/customer/customer-view.html" th:href="@{/customer}">
                                    <span class="icon-arrows-cw"></span>
                                </a>
                                <a class="btn btn-light" href="/customer/customer-form.html" th:href="@{/customer/0}" th:if="${isMaker}">
                                    <span class="icon-plus"></span>
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
                <!-- TABLE DATA -->
                <div class="table-responsive border border-top-0" th:if="${page.getTotalElements() > 0}">
	                <table class="table table-sm table-striped table-hover border-bottom" style="min-width: 800px;">
	                    <thead>
	                        <tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
	                            <th style="width:40px"></th>
								<th style="width:40px">#</th>
	                            <th th:with="sort=|&sort=name,${ascending ? 'DESC' : 'ASC'}|">
                                	<a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                		<span th:text="#{name}">Name</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                	</a>
                                </th>
                                <th th:text="#{customerType}">Type</th>
                                <th th:text="#{email}">Email</th>
                                <th th:text="#{phone}">Phone</th>
								<th th:text="#{activated}">Activated</th>
								<th th:text="#{locked}">Locked</th>
	                        </tr>
	                    </thead>
	                    <tbody th:remove="all-but-first">
	                        <tr th:each="customer,row : ${page}">
	                        	<td class="py-0 px-1">
									<div class="dropdown">
										<button type="button" class="btn btn-default dropdown-toggle px-1 py-0 font-12" id="dropdownMenuButton" data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
										 	<span class="icon-cog"></span>
										</button>
										<div class="dropdown-menu py-0 shadow" aria-labelledby="dropdownMenuButton">
										    <a class="dropdown-item pl-1" href="/customer/customer-detail.html" th:href="@{|/customer/${customer.id}/detail|}">
										    	<span class="icon-eye"></span> <span th:text="#{detail}">Detail</span>
                                            </a>
                                            <th:block th:if="${isMaker && !customer.pending}">
                                                <a class="dropdown-item pl-1" href="/customer/customer-form.html" th:href="@{|/customer/${customer.id}|}">
                                                    <span class="icon-edit"></span> <span th:text="#{edit}">Edit</span>
                                                </a>
											   	<div class="dropdown-divider my-0"></div>
												<button class="dropdown-item pl-1 text-danger" th:title="@{|/customer/delete/${customer.id}|}" data-toggle="modal" data-target="#delete-modal">
													<span class="icon-trash"></span> <span th:text="#{delete}">Delete</span>
												</button>
											</th:block>
										</div>
									</div>
								</td>
	                            <td th:text="${row.count + (page.number * page.size)}">1</td>
	                            <td th:text="${customer.name}">Ferry Linton Hutapea</td>
								<td th:text="${customer.customerType == '0025' ? 'TPC' : 'TREASURE'}">TREASURE</td>
								<td th:text="${customer.email}">ferrylinton@gmail.com</td>
								<td th:text="${customer.phone}">1234567890</td>
								<td><span class="text-success icon-ok" th:class="${customer.activated} ? 'text-success icon-ok' : 'text-danger icon-cancel'"></span></td>
	                        	<td><span class="text-danger icon-cancel" th:class="${customer.locked} ? 'text-success icon-ok' : 'text-danger icon-cancel'"></span></td>
	                        </tr>
	                    </tbody>
	                </table>
                </div>
                <!-- NOT FOUND MESSAGE -->
                <div class="border alert alert-light text-center" role="alert" th:if="${page.getTotalElements() == 0}">
	                <span class="icon-attention"></span> <span th:text="#{message.dataNotFound}">Data not found</span>
	            </div>
                <!-- TOOLBAR -->
                <div class="toolbar" th:if="${page != null && page.getTotalPages() > 1}">
                    <a class="btn btn-light" th:href="@{|?${previous}${params}|}" th:classappend="${not page.hasPrevious()} ? 'disabled'">
                        <span class="icon-left-open"></span> <span th:text="#{previous}">Previous</span>
                    </a>
                    <a class="btn btn-light" th:href="@{|?${next}${params}|}" th:classappend="${not page.hasNext()} ? 'disabled'">
                        <span th:text="#{next}">Next</span> <span class="icon-right-open"></span>
                    </a>
                </div>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>