<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: content(title=|#{application.name} : #{customer}|)"></head>

<body data-menu="customer">
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item"><a href="/customer/customer-view.html" th:href="@{/customer}" th:text="#{customer}">Customer</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
            </ol>
        </nav>
        <div id="main-content">
            <!-- MESSAGE -->
            <div class="border alert alert-light text-center" role="alert" th:if="${error}">
                <span class="icon-attention"></span> <span th:text="${error}">Data ['xxxx'] is not found</span>
            </div>
            <!-- TABLE DETAIL -->
            <th:block th:if="${customer}">
                <div class="table-responsive border border-top-0">
                    <table class="table table-sm table-detail">
                        <tbody>
                            <tr>
                                <th th:text="#{id}">Id</th>
                                <td th:text="${customer.id}">ZwOkjFmG</td>
                            </tr>
                            <tr>
                                <th th:text="#{name}">Name</th>
                                <td th:text="${customer.name}">Ferry Linton Hutapea</td>
                            </tr>
                            <tr>
                                <th th:text="#{email}">Email</th>
                                <td th:text="${customer.name}">ferrylinton@gmail.com</td>
                            </tr>
                            <tr>
                                <th th:text="#{customerType}">Customer Type</th>
                                <td th:text="${customer.customerType}">TREASURE</td>
                            </tr>
                            <tr>
                                <th th:text="#{phone}">Phone</th>
                                <td th:text="${customer.phone}">1234567890</td>
                            </tr>
                            <tr>
                                <th th:text="#{dob}">DOB</th>
                                <td th:text="${#dates.format(customer.dob, 'dd/MM/yyyy')}">01-02-1999</td>
                            </tr>
                            <tr>
                                <th th:text="#{activated}">Activated</th>
                                <td><span class="text-success icon-ok" th:class="${customer.activated} ? 'text-success icon-ok' : 'text-danger icon-cancel'"></span></td>
                            </tr>
                            <tr>
                                <th th:text="#{image}">Image</th>
                                <td>
                                    <div class="d-block overflow-auto">
                                        <img class="border p-1" alt="image" src="/image/500x200.png" th:src="@{|/image/${customer.id}|}" />
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <th th:text="#{createdBy}">Created By</th>
                                <td th:text="${customer.createdBy}">System</td>
                            </tr>
                            <tr>
                                <th th:text="#{createdDate}">Created Date</th>
                                <td><span data-date="DD/MM/YYYY HH:mm:ss" th:data-date="${@settingService.jsDatetime()}" th:text="${customer.createdDate}">2019-05-01T21:24:44Z</span></td>
                            </tr>
                            <tr th:if="${customer.lastModifiedBy}">
                                <th th:text="#{lastModifiedBy}">Last Modified By</th>
                                <td th:text="${customer.lastModifiedBy}">System</td>
                            </tr>
                            <tr th:if="${customer.lastModifiedDate}">
                                <th th:text="#{lastModifiedDate}">Last Modified Dt</th>
                                <td><span data-date="DD/MM/YYYY HH:mm:ss" th:data-date="${@settingService.jsDatetime()}" th:text="${customer.lastModifiedDate}">2019-05-01T21:24:44Z</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- TOOLBAR -->
                <div class="toolbar">
                    <a class="btn btn-light" href="/customer/customer-view.html" th:href="@{/customer}">
                        <span class="icon-left"></span> <span th:text="#{back}">Back</span>
                    </a>
                </div>
            </th:block>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>