<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.org">

<head th:replace="fragment/head.html :: content(title=#{customer})">
	<title>DBS Loyalty</title>
</head>

<body th:with="isMaker=${#authorization.expression('hasAuthority(''CUSTOMER_MK'')')}">
	<div th:replace="fragment/navbar.html :: content"></div>
	<div class="bg-white">
		<nav aria-label="breadcrumb">
	        <ol class="breadcrumb border-bottom">
	            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}"></a></li>
	            <li class="breadcrumb-item"><a th:href="@{/customer}" th:text="#{customer}"></a></li>
	            <li class="breadcrumb-item active" aria-current="page" th:text="#{form}"></li>
	        </ol>
	    </nav>
		<div class="container-fluid p-3">
			<div class="min-height border p-3">
					<div class="row no-gutters" th:with="format=${@environment.getProperty('application.format.date')}">
						<div class="col-12" th:if="${error}">
							<div class="border alert alert-light text-center" role="alert">
				                <span class="icon-attention"></span> <span th:text="${error}"></span>
				            </div>
						</div>
						<div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6" th:if="${customer}">
							<form th:action="@{/customer}" th:object="${customer}" method="post" autocomplete="off" onsubmit="return Data.submit(this)">
								<div class="form-group" th:if="${customer.id != null}">
									<label for="id" th:text="#{id}">Id</label>
									<input class="form-control" type="text" th:field="*{id}" readonly="readonly" />
								</div>
								<div class="form-group">
									<label for="customerType" th:text="#{customerType}">Customer Type</label>
									<select class="custom-select" th:field="*{customerType}">
										<option value="TPC">TPC</option>
										<option value="Treasure">Treasure</option>
									</select>
								</div>
								<div class="form-group">
									<label for="email" th:text="#{email}">Email *</label>
									<input class="form-control" type="text" th:field="*{email}" maxlength="50" />
								</div>
								<div class="form-group" th:if="${customer.id == null}">
									<label for="password" th:text="#{password}">Password</label>
									<input class="form-control" type="password" th:field="*{passwordPlain}" maxlength="30" />
								</div>
								<div class="form-group">
									<label for="name" th:text="#{name}">Name *</label>
									<input class="form-control" type="text" th:field="*{name}" maxlength="50" />
								</div>
								<div class="form-group">
									<label for="phone" th:text="#{phone}">Phone *</label>
									<input class="form-control" type="text" th:field="*{phone}" maxlength="20" />
								</div>
								<div class="form-group">
									<label for="dob" th:text="|#{dob} *|">DOB *</label>
									<input class="form-control" type="text" th:placeholder="#{dob}" id="dob" name="dob" th:value="${#dates.format(customer.dob, format)}" readonly="readonly" />
								</div>
								<div class="form-group">
									<label th:text="#{activated}">Activated</label>
									<div class="custom-control custom-switch">
										  <input type="checkbox" th:field="*{activated}" class="custom-control-input" onchange="changeStatus(this)" id="activated">
										  <label class="custom-control-label" for="activated" th:text="*{activated} ? #{yes} : #{no}"></label>
									</div>
								</div>
								<div class="form-group" th:if="${customer.imageString}">
									<label for="imageString" th:text="#{image}">Image</label>
									<div class="d-block">
										<img class="border p-1" width="100%" alt="imageString" th:src="*{imageString}" />
									</div>
								</div>
								<div class="form-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="file" name="file" onchange="showImage(this)">
									  	<label class="custom-file-label" th:text="#{chooseFile}"></label>
									</div>
								</div>
								<div class="form-group" id="preview-image" style="display: none;">
									<img class="border p-1" width="100%" src="" />
								</div>
								<div th:replace="fragment/audit.html :: content(${customer})"></div>
								<a class="btn btn-sm btn-secondary px-3" th:href="@{/customer}">
									<span class="icon-left"></span> <span th:text="#{back}"></span>
								</a>
								<button class="btn btn-sm btn-primary px-3" type="submit" th:if="${isMaker}">
									<span class="icon-floppy"></span> <span th:text="#{save}"></span>
								</button>
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div th:replace="fragment/footer.html :: content"></div>
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>