<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="|#{bankingTransaction} - #{order}|">Banking Transaction - Order</title>
</head>

<body data-menu="trxorder">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
   		<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
       		<li class="breadcrumb-item"><a th:href="@{/trxorder}" th:text="|#{bankingTransaction} - #{order}|">Banking Transaction - Order</a></li>
          	<li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
   		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
		<div class="table-responsive border border-top-0" th:if="${trxorder}">
      		<table class="table table-sm table-detail" style="min-width: 400px;">
       			<tbody>
            		<tr>
                		<th th:text="#{id}">Id</th>
                     	<td th:text="${trxorder.id}">ZwOkjFmG</td>
               		</tr>
                	<tr>
                  		<th th:text="#{name}">Name</th>
                   		<td th:text="${trxorder.itemName}">Item Name</td>
              		</tr>
              		<tr>
                  		<th th:text="#{point}">Point</th>
                   		<td th:text="${trxorder.itemPoint}">Item Point</td>
              		</tr>
              		<tr>
                  		<th th:text="#{date}">Date</th>
                   		<td><span th:data-date="${@dateService.jsDatetime()}" th:text="${trxorder.createdDate}">2019-05-01T21:24:44Z</span></td>
              		</tr>
     			</tbody>
     		</table>
     	</div>
     	<div class="table-responsive border border-top-0 mt-1" th:if="${trxorder}">
     		<table class="table table-sm table-detail" style="min-width: 400px;">
       			<tbody>
              		<tr>
               			<th th:text="#{cif}">CIF</th>
                    	<td th:text="${trxorder.customer.cif}">0000001</td>
               		</tr>
               		<tr>
               			<th th:text="#{accountNo}">Account No</th>
                    	<td th:text="${trxorder.customer.accountNo}">0000001</td>
               		</tr>
         			<tr>
                    	<th th:text="#{firstName}">First Name</th>
                      	<td th:text="${trxorder.customer.firstName}">Ferry</td>
           			</tr>
           			<tr>
                    	<th th:text="#{lastName}">First Name</th>
                      	<td th:text="${trxorder.customer.lastName}">Hutapea</td>
           			</tr>
                  	<tr>
                 		<th th:text="#{email}">Email</th>
                     	<td th:text="${trxorder.customer.email}">ferrylinton@gmail.com</td>
                  	</tr>
               		<tr>
                   		<th th:text="#{customerType}">Customer Type</th>
                     	<td th:text="${trxorder.customer.customerType == T(com.dbs.loyalty.config.constant.CustomerTypeConstant).TPC_VALUE ? 'TPC' : 'TREASURE'}">TREASURE</td>
                	</tr>
               		<tr>
                    	<th th:text="#{phone}">Phone</th>
                     	<td th:text="${trxorder.customer.phone}">1234567890</td>
                	</tr>
                  	<tr>
                     	<th th:text="#{dob}">DOB</th>
                     	<td th:text="${#temporals.format(trxorder.customer.dob, @dateService.javaDate())}">01-02-1999</td>
                  	</tr>
     			</tbody>
     		</table>
     	</div>
		<div class="toolbar">
    		<a class="btn btn-sm btn-secondary" th:href="@{/trxorder}">
       			<span class="icon-left"></span> <span th:text="#{back}">Back</span>
     		</a>
		</div>
	</div>
</body>

</html>