<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org" class="h-100">

<head th:replace="fragment/head.html :: content(title=#{login})">
    <title>DBS Loyalty : Login</title>
    <link href="/static/image/favicon.png" rel="shorcut icon" />
    <link href="/static/css/main.min.css" rel="stylesheet" />
</head>

<body class="bg-login p-0 h-95" onload="onLoadLogin()">
    <div class="container-fluid login-box">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-white border-top border-red border-4">
                    <!-- LOGIN HEADER -->
                    <div class="login-header clearfix">
                        <img alt="/static/image/dbs.png" src="/static/image/dbs.png" th:src="@{/static/image/dbs.png}"></img>
                    </div>
                    <!-- LOGIN FORM -->
                    <form class="px-4 pt-3 pb-5" action="/login" th:action="@{/login}" method="post" autocomplete="off">
                        <div class="p-2 text-center" th:classappend="${class}" th:text="#{${message}}" th:if="${message != null}">Input Username and Password</div>
                        <div class="form-group input-material">
                            <input type="text" class="form-control" id=username name="username" autofocus="autofocus">
                            <label for="username" th:text="#{username}">Username</label>
                        </div>
                        <div class="form-group input-material">
                            <input type="password" class="form-control" id="password" name="password">
                            <label for="password" th:text="#{password}">Password</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-block btn-danger" th:text="#{login}">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 text-sm-left">
                    <p class="m-0" th:utext="#{application.copyright}">Copyright &copy; 2019 by Bank DBS</p>
                </div>
                <div class="col-12 col-sm-6 text-sm-right">
                    <a href="#" th:text="#{english}">English</a> <a href="#" th:text="#{indonesia}">Indonesia</a>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragment/scripts.html :: content"></div>
    <script src="/static/js/main.min.js" th:remove="all"></script>
</body>

</html>