<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org" class="h-100" style="min-height: 430px;">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="contextPath" content="/" th:content="@{/}" />
    <title th:text="|#{application.name} : #{login}|"></title>
    <link href="/static/image/favicon.png" th:href="@{/static/image/favicon.png}" rel="shorcut icon" />
    <link href="/static/css/all.min.css" th:href="@{/static/css/all.min.css}" rel="stylesheet" />
</head>

<body class="bg-login pt-3" onload="onLoadLoginForm()">
    <div class="container-fluid login-box">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-sm-8 col-md-6 col-lg-5 col-xl-4">
                <div class="bg-white">
                    <!-- LOGIN HEADER -->
                    <div class="login-header clearfix">
                        <img alt="/static/image/dbs.png" src="/static/image/dbs.png" th:src="@{/static/image/dbs.png}"></img>
                    </div>
                    <!-- LOGIN FORM -->
                    <form class="px-4 pt-3 pb-5" action="/login" th:action="@{/login}" method="post" autocomplete="off">
                        <div class="p-2 text-center" th:classappend="${class}" th:text="#{${message}}" th:if="${message != null}"></div>
                        <div class="form-group input-material">
                            <input type="text" class="form-control" id=username name="username" autofocus="autofocus">
                            <label for="username" th:text="#{username}">Username</label>
                        </div>
                        <div class="form-group input-material">
                            <input type="password" class="form-control" id="password" name="password">
                            <label for="password" th:text="#{password}">Password</label>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-block btn-danger" th:text="#{login}">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="footer-login">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-sm-6 text-sm-left">
                    <p class="m-0" th:utext="#{application.copyright}">Copyright &copy; 2019 by Bank DBS</p>
                </div>
                <div class="col-12 col-sm-6 text-sm-right">
                    <a href="?lang=en" th:text="#{english}">English</a> <a href="?lang=in" th:text="#{indonesia}">Indonesia</a>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/all.min.js" th:src="@{/static/js/all.min.js}"></script>
</body>

</html>
