<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/head.html :: content(title=#{task})">
    <title>DBS Loyalty : Task</title>
    <link href="/static/image/favicon.png" rel="shorcut icon" />
    <link href="/static/css/main.min.css" rel="stylesheet" />
</head>

<body>
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: content"></div>
    <div id="content-box">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="|#{task} - #{role}|">Task Role</li>
            </ol>
        </nav>
        <div class="container-fluid pb-3">
            <div class="min-height border p-3">
                <!-- SEARCH FORM -->
                <div class="row no-gutters mb-3">
                    <div class="col-12 col-sm-12 col-md-10 col-lg-7 col-xl-6">
                        <form th:action="@{/task/role}" method="get" autocomplete="off" >
                            <div class="input-group mb-2">
                                <select name="st" class="custom-select text-secondary" id="status">
                                    <option value="ALL" selected th:text="#{ALL}" th:selected="${st.name() == 'ALL'}">ALL</option>
                                    <option value="PENDING" th:text="#{PENDING}" th:selected="${st.name() == 'PENDING'}">PENDING</option>
                                    <option value="REJECTED" th:text="#{REJECTED}" th:selected="${st.name() == 'REJECTED'}">REJECTED</option>
                                    <option value="VERIFIED" th:text="#{VERIFIED}" th:selected="${st.name() == 'VERIFIED'}">VERIFIED</option>
                                    <option value="FAILED" th:text="#{FAILED}" th:selected="${st.name() == 'FAILED'}">FAILED</option>
                                </select>
                                <select name="op" class="custom-select text-secondary" id="op">
                                    <option value="ALL" selected th:text="#{ALL}" th:selected="${op.name() == 'ALL'}">ALL</option>
                                    <option value="ADD" th:text="#{ADD}" th:selected="${op.name() == 'ADD'}">ADD</option>
                                    <option value="MODIFY" th:text="#{MODIFY}" th:selected="${op.name() == 'MODIFY'}">MODIFY</option>
                                    <option value="DELETE" th:text="#{DELETE}" th:selected="${op.name() == 'DELETE'}">DELETE</option>
                                </select>
                            </div>
                            <div class="input-group">
                                <input class="form-control" name="ky" maxlength="40" th:value="${param.ky}" th:placeholder="#{keyword}" />
                                    <div class="input-group-append">
                                        <button class="btn btn-light border text-secondary" type="submit">
                                            <span class="icon-search"></span>
                                        </button>
                                        <a class="btn btn-light border text-secondary" th:href="@{/task/role}">
                                            <span class="icon-arrows-cw"></span>
                                        </a>
                                    </div>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- TABLE DATA -->
                <div class="table-responsive" th:if="${page.getTotalElements() > 0}">
                    <table class="table table-sm table-hover table-striped border" style="min-width: 700px;">
                        <thead>
                            <tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
                                <th style="width:50px"></th>
                                <th style="width:50px">#</th>
                                <th style="width:160px" th:with="sort=|&sort=madeDate,${ascending ? 'DESC' : 'ASC'}|">
                                    <a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                        <span th:text="#{date}">Date</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                    </a>
                                </th>
                                <th th:text="#{maker}">Maker</th>
                                <th th:text="#{taskDataType}">Data Type</th>
                                <th th:text="#{taskOperation}">Operation</th>
                                <th th:text="#{taskStatus}">Status</th>
                            </tr>
                        </thead>
                        <tbody th:with="format=${@environment.getProperty('application.format.date-time')}">
                            <tr th:each="task,row : ${page}">
                                <td class="py-0 px-1">
                                    <div class="dropdown">
                                        <button type="button" class="btn btn-default dropdown-toggle px-1 py-0 font-12" id="dropdownMenuButton"
                                            data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon-cog"></span>
                                        </button>
                                        <div class="dropdown-menu py-0 shadow" aria-labelledby="dropdownMenuButton">
                                            <a class="dropdown-item pl-1" href="/task/role/task-role-detail.html" th:href="@{|/task/role/${task.id}/detail|}">
                                                <span class="icon-eye"></span> <span th:text="#{detail}">Detail</span>
                                            </a>
                                            <th:block th:if="${#authorization.expression('hasAuthority(''USER_CK'')')}">
                                                <div class="dropdown-divider my-0"></div>
                                                <a class="dropdown-item pl-1" href="/task/role/task-role-form.html" th:href="@{|/task/role/${task.id}|}">
                                                    <span class="icon-edit"></span> <span th:text="#{edit}">Edit</span>
                                                </a>
                                            </th:block>
                                        </div>
                                    </div>
                                </td>
                                <td th:text="${row.count + (page.number * page.size)}">1</td>
                                <td th:text="${#dates.format(task.madeDate, format)}">14-04-2019 09:02</td>
                                <td th:text="${task.maker}">Maker</td>
                                <td th:text="#{${task.taskDataType}}">Data Type</td>
                                <td th:text="#{${task.taskOperation}}">Operation</td>
                                <td th:text="#{${task.taskStatus}}">Status</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- NOT FOUND MESSAGE -->
                <div class="border alert alert-light text-center" role="alert" th:if="${page.getTotalElements() == 0}">
	                <span class="icon-attention"></span> <span th:text="#{message.dataNotFound}">Data not found</span>
	            </div>
                <!-- TOOLBAR -->
                <div class="toolbar" th:if="${page != null && page.getTotalPages() > 1}">
                    <a class="btn btn-light" th:href="@{|?${previous}${params}|}" th:classappend="${not page.hasPrevious()} ? 'disabled'">
                        <span class="icon-left-open"></span> <span th:text="#{previous}">Previous</span>
                    </a>
                    <a class="btn btn-light" th:href="@{|?${next}${params}|}" th:classappend="${not page.hasNext()} ? 'disabled'">
                        <span th:text="#{next}">Next</span> <span class="icon-right-open"></span>
                    </a>
                </div>
            </div>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: content"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box">
        <div th:replace="fragment/sidenav.html :: content"></div>
    </div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
    <script src="/static/js/main.min.js" th:remove="all"></script>
    <script src="/static/js/fragment.js" th:remove="all"></script>
</body>

</html>