<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{loglogin}">Log Login</title>
</head>

<body data-menu="loglogin">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
   		<ol class="breadcrumb">
       		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
          	<li class="breadcrumb-item active" aria-current="page" th:text="#{loglogin}">Log Login</li>
    	</ol>
	</nav>
	<div layout:fragment="content">
    	<div class="row no-gutters mb-3">
        	<div class="col-12 col-sm-12 col-md-10 col-lg-7 col-xl-6">
             	<form th:action="@{/loglogin}" method="get" autocomplete="off" >
					<div class="input-group mb-2">
						<input type="text" class="form-control datetimepicker-input" id="sd" name="sd" th:title="${param.sd}" placeholder="Start Date" th:placeholder="#{startDate}" data-toggle="datetimepicker" data-target="#sd">
		              	<input type="text" class="form-control datetimepicker-input" id="ed" name="ed" th:title="${param.ed}" placeholder="End Date" th:placeholder="#{endDate}" data-toggle="datetimepicker" data-target="#ed">
						<div class="input-group-append">
		               		<div class="input-group-text bg-light"><span class="icon-calendar"></span></div>
		              	</div>
					</div>
                  	<div class="input-group">
                    	<input class="form-control" name="ky" maxlength="40" th:value="${param.ky}" th:placeholder="|#{username}, #{ip}, #{browser}|" />
                      	<div class="input-group-append">
                       		<button class="btn btn-light border text-secondary" type="submit">
                             	<span class="icon-search"></span>
                           	</button>
                          	<a class="btn btn-light border text-secondary" th:href="@{/loglogin}">
                            	<span class="icon-arrows-cw"></span>
                          	</a>
                       	</div>
                   	</div>
				</form>
        	</div>
   		</div>
  		<div class="table-responsive" th:if="${page.getTotalElements() > 0}">
	   		<table class="table table-sm table-striped table-hover border" style="min-width: 700px;">
	        	<thead>
               		<tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
						<th class="text-center" style="width:60px">#</th>
                       	<th th:with="sort=|&sort=createdDate,${ascending ? 'DESC' : 'ASC'}|">
                       		<a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                            	<span th:text="#{date}">Date</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                          	</a>
                     	</th>
                   		<th th:text="#{status}">Status</th>
                     	<th th:text="#{username}">Username</th>
                     	<th th:text="#{ip}">IP</th>
                      	<th th:text="#{browser}">Browser</th>
                	</tr>
             	</thead>
	           	<tbody th:remove="all-but-first">
	           		<tr th:each="loglogin,row : ${page}">
	                  	<td class="text-center" th:text="${row.count + (page.number * page.size)}">1</td>
	                	<td><span th:data-date="${@settingService.jsDatetime()}" th:text="${loglogin.createdDate}">2019-05-01T21:24:44Z</span></td>
						<td><span th:class="${loglogin.status == 'Succeed'} ? 'badge badge-success' : 'badge badge-danger'" th:text="#{${loglogin.status}}">Succeed</span></td>
						<td th:text="${#strings.isEmpty(loglogin.username)} ? '-' : ${loglogin.username}">ferrylinton</td>
						<td th:text="${loglogin.ip}">127.0.0.1</td>
						<td th:text="${loglogin.browser}">Chrome</td>
	             	</tr>
	         	</tbody>
	  		</table>
     	</div>
      	<div th:replace="fragment/not-found.html :: content"></div>
		<div th:replace="fragment/pager.html :: content"></div>
	</div>
</body>

</html>