<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="contextPath" content="/" th:content="@{/}" />
    <title th:text="|#{application.name} : #{logLogin}|"></title>
    <link href="/static/image/favicon.png" th:href="@{/static/image/favicon.png}" rel="shorcut icon" />
    <link href="/static/css/all.min.css" th:href="@{/static/css/all.min.css}" rel="stylesheet" />
</head>

<body onload="onLoadLogLogin()">
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{logLogin}">Log Login</li>
            </ol>
        </nav>
        <div id="main-content">
                <!-- SEARCH FORM -->
                <div class="row no-gutters mb-3">
                    <div class="col-12 col-sm-12 col-md-10 col-lg-7 col-xl-6">
                        <form th:action="@{/loglogin}" method="get" autocomplete="off" >
							<div class="form-row mb-1">
								<div class="col-5 pr-0">
									<input type="text" class="form-control bg-white border-right-0" name="sd" th:value="${param.sd}" placeholder="Start Date" th:placeholder="#{startDate}" readonly="readonly">
								</div>
								<div class="col-7 pl-0">
									<div class="input-group">
		                                <input type="text" class="form-control bg-white" name="ed" th:value="${param.ed}" placeholder="End Date" th:placeholder="#{endDate}" readonly="readonly">
										<div class="input-group-append">
		                                    <div class="input-group-text bg-light"><span class="icon-calendar"></span></div>
		                                </div>
									</div>
								</div>
							</div>
                            <div class="input-group">
                                <input class="form-control" name="ky" maxlength="40" th:value="${param.ky}" placeholder="keyword" th:placeholder="#{keyword}" />
                                <div class="input-group-append">
                                    <button class="btn btn-light border text-secondary" type="submit">
                                        <span class="icon-search"></span>
                                    </button>
                                    <a class="btn btn-light border text-secondary" th:href="@{/loglogin}">
                                        <span class="icon-arrows-cw"></span>
                                    </a>
                                </div>
                            </div>
						</form>
                    </div>
                </div>
                <!-- TABLE DATA -->
                <div class="table-responsive" th:if="${page.getTotalElements() > 0}">
	                <table class="table table-sm table-striped table-hover border">
	                    <thead>
                            <tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
								<th class="text-center" style="width:60px">#</th>
                                <th th:with="sort=|&sort=createdDate,${ascending ? 'DESC' : 'ASC'}|">
                                	<a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                                		<span th:text="#{date}">Date</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                                	</a>
                                </th>
                                <th th:text="#{loginStatus}">Status</th>
                                <th th:text="#{ip}">Ip</th>
                                <th th:text="#{username}">Username</th>
                                <th th:text="#{browser}">Browser</th>
                            </tr>
                        </thead>
	                    <tbody th:remove="all-but-first">
	                        <tr th:each="loglogin,row : ${page}">
	                            <td class="text-center" th:text="${row.count + (page.number * page.size)}">1</td>
	                            <td th:text="${#dates.format(loglogin.createdDate, @environment.getProperty('application.format.date-time'))}">18-04-2019 19:09.001</td>
								<td>
									<span class="badge badge-success" th:class="${loglogin.loginStatus.getValue()} ? 'badge badge-success' : 'badge badge-danger'" th:text="#{${loglogin.loginStatus}}">Success</span>
								</td>
								<td th:text="${loglogin.ip}">127.0.0.1</td>
								<td th:text="${#strings.isEmpty(loglogin.username)} ? '-' : ${loglogin.username}">ferrylinton</td>
								<td th:text="${loglogin.browser}">Chrome</td>
	                        </tr>
	                    </tbody>
	                </table>
                </div>
                <!-- NOT FOUND MESSAGE -->
                <div class="border alert alert-light text-center" role="alert" th:if="${page.getTotalElements() == 0}">
	                <span class="icon-attention"></span> <span th:text="#{message.dataNotFound}">Data not found</span>
	            </div>
                <!-- TOOLBAR -->
                <div class="toolbar" th:if="${page != null && page.getTotalPages() > 1}">
                    <a class="btn btn-light" th:href="@{|?${previous}${params}|}" th:classappend="${not page.hasPrevious()} ? 'disabled'">
                        <span class="icon-left-open"></span> <span th:text="#{previous}">Previous</span>
                    </a>
                    <a class="btn btn-light" th:href="@{|?${next}${params}|}" th:classappend="${not page.hasNext()} ? 'disabled'">
                        <span th:text="#{next}">Next</span> <span class="icon-right-open"></span>
                    </a>
                </div>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <script src="/static/js/all.min.js" th:src="@{/static/js/all.min.js}"></script>
    <script src="/static/js/fragment.js" th:remove="all"></script>
</body>

</html>