<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{city}">City</title>
</head>

<body data-menu="city">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
   		<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
       		<li class="breadcrumb-item"><a th:href="@{/city}" th:text="#{city}">City</a></li>
          	<li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
   		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
		<div class="table-responsive border border-top-0" th:if="${city}">
      		<table class="table table-sm table-detail" style="min-width: 400px;">
       			<tbody>
            		<tr>
                		<th th:text="#{id}">Id</th>
                     	<td th:text="${city.id}">1aC2gypfZh1T4sNgJUgmUx</td>
               		</tr>
                	<tr>
                  		<th th:text="#{city}">City</th>
                   		<td th:text="${city.name}">Admin</td>
              		</tr>
              		<tr th:if="${city.province}">
                  		<th th:text="#{province}">Province</th>
                   		<td th:text="${city.province.name}">Province</td>
              		</tr>
              		<tr th:if="${city.province != null && city.province.country != null}">
                  		<th th:text="#{country}">Country</th>
                   		<td th:text="${city.province.country.name}">Country</td>
              		</tr>
     			</tbody>
     		</table>
     	</div>
		<div class="toolbar">
    		<a class="btn btn-sm btn-secondary" href="javascript:back();">
       			<span class="icon-left"></span> <span th:text="#{back}">Back</span>
     		</a>
		</div>
	</div>
</body>

</html>