<!doctype html>
<html
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{role}">Role</title>
</head>

<body data-menu="role">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
   		<ol class="breadcrumb">
      		<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
       		<li class="breadcrumb-item"><a th:href="@{/role}" th:text="#{role}">Role</a></li>
          	<li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
   		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/value-not-found.html :: content"></div>
		<div class="table-responsive border border-top-0" th:if="${role}">
      		<table class="table table-sm table-detail" style="min-width: 400px;">
       			<tbody>
            		<tr>
                		<th th:text="#{id}">Id</th>
                     	<td th:text="${role.id}">ZwOkjFmG</td>
               		</tr>
                	<tr>
                  		<th th:text="#{name}">Name</th>
                   		<td th:text="${role.name}">Admin</td>
              		</tr>
             		<tr>
                  		<th th:text="#{authorities}">Authorities</th>
                      	<td>
                   			<ol th:remove="all-but-first">
                         		<li th:each="authority : ${role.authorities}" th:text="#{${authority.name}}">Name</li>
                           		<li>Name</li>
                         	</ol>
                  		</td>
               		</tr>
					<tr th:replace="fragment/audit-detail.html :: content(data=${role})"></tr>
     			</tbody>
     		</table>
     	</div>
		<div class="toolbar">
    		<a class="btn btn-sm btn-secondary" th:href="@{/role}">
       			<span class="icon-left"></span> <span th:text="#{back}">Back</span>
     		</a>
		</div>
	</div>
</body>

</html>