<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: content(title=|#{application.name} : #{role}|)"></head>

<body data-menu="role">
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box">
        <!-- BREADCRUMB -->
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
                <li class="breadcrumb-item"><a href="/role/role-view.html" th:href="@{/role}" th:text="#{role}">Role</a></li>
                <li class="breadcrumb-item active" aria-current="page" th:text="#{detail}">Detail</li>
            </ol>
        </nav>
        <div id="main-content">
            <!-- MESSAGE -->
            <div class="border alert alert-light text-center" role="alert" th:if="${error}">
                <span class="icon-attention"></span> <span th:text="${error}">Data ['xxxx'] is not found</span>
            </div>
            <!-- TABLE DETAIL -->
            <th:block th:if="${role}">
                <div class="table-responsive border border-top-0">
                    <table class="table table-sm table-detail" style="min-width: 400px;">
                        <tbody>
                            <tr>
                                <th th:text="#{id}">Id</th>
                                <td th:text="${role.id}">ZwOkjFmG</td>
                            </tr>
                            <tr>
                                <th th:text="#{name}">Name</th>
                                <td th:text="${role.name}">Admin</td>
                            </tr>
                            <tr>
                                <th th:text="#{authorities}">Authorities</th>
                                <td>
                                    <ol th:remove="all-but-first">
                                        <li th:each="authority : ${role.authorities}" th:text="#{${authority.name}}">Admin</li>
                                        <li>Pembuat Pelanggan</li>
                                    </ol>
                                </td>
                            </tr>
                            <tr>
                                <th th:text="#{createdBy}">Created By</th>
                                <td th:text="${role.createdBy}">System</td>
                            </tr>
                            <tr>
                                <th th:text="#{createdDate}">Created Dt</th>
                                <td><span data-date="DD/MM/YYYY HH:mm:ss" th:data-date="${@settingService.jsDatetime()}" th:text="${role.createdDate}">2019-05-01T21:24:44Z</span></td>
                            </tr>
                            <tr th:if="${role.lastModifiedBy}">
                                <th th:text="#{lastModifiedBy}">Last Modified By</th>
                                <td th:text="${role.lastModifiedBy}">System</td>
                            </tr>
                            <tr th:if="${role.lastModifiedDate}">
                                <th th:text="#{lastModifiedDate}">Last Modified Dt</th>
                                <td><span data-date="DD/MM/YYYY HH:mm:ss" th:data-date="${@settingService.jsDatetime()}" th:text="${role.lastModifiedDate}">2019-05-01T21:24:44Z</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- TOOLBAR -->
                <div class="toolbar">
                    <a class="btn btn-light" href="/role/role-view.html" th:href="@{/role}">
                        <span class="icon-left"></span> <span th:text="#{back}">Back</span>
                    </a>
                </div>
            </th:block>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>