<!doctype html>
<html 
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="#{home}">Home</title>
</head>

<body>
	<div layout:fragment="content">
		<div class="welcome-box">
      		<h3>
      			<span th:text="#{welcome}"></span> <span class="font-weight-bold" th:text="${#authorization.authentication.name}"></span> <span>!!!</span>
      		</h3>
    		<table class="table table-bordered table-sm" th:if="${logLogin}">
           		<tbody>
               		<tr>
                  		<th th:text="#{lastLoginDate}">Last login date</th>
                  		<td><span th:data-date="${@settingService.jsDatetime()}" th:text="${logLogin.createdDate}">2019-05-01T21:24:44Z</span></td>
             		</tr>
               		<tr>
                  		<th th:text="#{browser}">Browser</th>
                     	<td th:text="${logLogin.browser}">Chrome</td>
                   	</tr>
             	</tbody>
    		</table>
      		<table class="table table-bordered table-sm" th:if="${user}">
         		<tbody>
                 	<tr>
                  		<th th:text="#{userType}">User Type</th>
                  		<td th:text="${user.userType}">INTERNAL</td>
                   	</tr>
              		<tr>
                   		<th th:text="#{role}">Role</th>
                    	<td th:text="${user.role.name}">Maker</td>
                 	</tr>
             	</tbody>
       		</table>
		</div>
	</div>
</body>

</html>