<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="contextPath" content="/" th:content="@{/}" />
    <title th:text="|#{application.name} : #{home}|"></title>
    <link href="/static/image/favicon.png" th:href="@{/static/image/favicon.png}" rel="shorcut icon" />
    <link href="/static/css/all.min.css" th:href="@{/static/css/all.min.css}" rel="stylesheet" />
</head>

<body>
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box">
            <!-- CONTENT -->
            <div id="main-content">
                <div class="welcome-box">
                    <span th:text="#{welcome}">Welcome</span> <span class="font-weight-bold" th:text="${#authorization.authentication.name}">ferrylinton</span> <span>!!!</span>
                    <!-- LOG LOGIN INFO -->
                    <table class="table table-bordered table-sm" th:if="${logLogin}">
                        <tbody>
                            <tr>
                                <th th:text="#{lastLoginDate}">Last login date</th>
                                <td th:text="${#dates.format(logLogin.createdDate, 'dd-MM-yyyy HH:mm')}">11-04-2018 18:47</td>
                            </tr>
                            <tr>
                                <th th:text="#{browser}">Browser</th>
                                <td th:text="${logLogin.browser}">Chrome</td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- USER INFO -->
                    <table class="table table-bordered table-sm" th:if="${user}">
                        <tbody>
                            <tr>
                                <th th:text="#{userType}">User Type</th>
                                    <td th:text="${user.userType}">INTERNAL</td>
                                </tr>
                            <tr>
                                <th th:text="#{role}">Role</th>
                                <td th:text="${user.role.name}">Maker</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <script src="/static/js/all.min.js" th:src="@{/static/js/all.min.js}"></script>
    <script src="/static/js/fragment.js" th:remove="all"></script>
</body>

</html>