<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/head.html :: content(title=#{home})">
	<title>DBS Loyalty</title>
</head>

<body>
    <div th:replace="fragment/navbar.html :: content"></div>
    <div id="content-box">
        <div class="container-fluid p-3 bg-white">
            <div class="row no-gutters">
                <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="border p-3 min-height welcome-box">
                        <h3>Welcome <span>ferrylinton</span> !!!</h3>
                        <div>Last login 11-04-2018 18:47</div>
                    </div>

                </div>
            </div>
        </div>
        <div th:replace="fragment/footer.html :: content"></div>
    </div>
    <div id="sidenav-box">
        <div th:replace="fragment/sidenav.html :: content"></div>
    </div>
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>