<!doctype html>
<html lang="en" th:lang="${#locale}" xmlns:th="http://www.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:replace="fragment/head.html :: content(title=#{promo})">
	<title>DBS Loyalty</title>
</head>

<body th:with="isMaker=${#authorization.expression('hasAuthority(''PROMO_MK'')')}">
	<div th:replace="fragment/navbar.html :: content"></div>
	<div class="bg-white">
		<nav aria-label="breadcrumb">
	        <ol class="breadcrumb border-bottom">
	            <li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}"></a></li>
	            <li class="breadcrumb-item"><a th:href="@{/promo}" th:text="#{promo}"></a></li>
	            <li class="breadcrumb-item active" aria-current="page" th:text="#{form}"></li>
	        </ol>
	    </nav>
		<div class="container-fluid pb-3">
			<div class="min-height border p-3">
					<div class="row no-gutters" th:with="format=${@environment.getProperty('application.format.date')}">
						<div class="col-12 col-sm-12 col-md-8 col-lg-6 col-xl-6">
							<div class="border alert alert-light text-center" role="alert" th:if="${error}">
				                <span class="icon-attention"></span> <span th:text="${error}"></span>
				            </div>
							<form th:action="@{/promo}" th:object="${promo}" method="post" autocomplete="off" onsubmit="return Data.submit(this)" th:if="promo != null">
								<div class="form-group" th:if="${promo.id != null}">
									<label for="id" th:text="#{id}">Id</label>
									<input class="form-control" type="text" th:field="*{id}" readonly="readonly" />
								</div>
								<div class="form-group">
									<label for="title" th:text="|#{title} *|">Title *</label>
									<input class="form-control" type="text" th:placeholder="#{title}" th:field="*{title}" maxlength="40" />
								</div>
								<div class="form-group">
									<label for="code" th:text="|#{code} *|">Code *</label>
									<input class="form-control" type="text" th:placeholder="#{code}" th:field="*{code}" maxlength="40" />
								</div>
								<div class="form-group">
									<label for="description" th:text="#{description} + ' *'">Description *</label>
									<textarea class="form-control" th:field="*{description}" rows="2" maxlength="255"></textarea>
								</div>
								<div class="form-group">
									<label for="termAndCondition" th:text="#{termAndCondition} + ' *'">Term And Condition *</label>
									<textarea class="form-control" th:field="*{termAndCondition}" rows="6"></textarea>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label for="startPeriod" th:text="|#{startPeriod} *|">Start Period *</label>
										<input class="form-control" type="text" th:placeholder="#{startPeriod}" id="startPeriod" name="startPeriod" th:value="${#dates.format(promo.startPeriod, format)}" readonly="readonly" />
									</div>
									<div class="form-group col">
										<label for="endPeriod" th:text="|#{endPeriod} *|">End Period *</label>
										<input class="form-control" type="text" th:placeholder="#{endPeriod}" id="endPeriod" name="endPeriod" th:value="${#dates.format(promo.endPeriod, format)}" readonly="readonly"/>
									</div>
								</div>
								<div class="form-row">
									<div class="form-group col">
										<label for="activated" th:text="#{activated}">Activated</label>
										<div class="custom-control custom-switch">
											<input type="checkbox" th:field="*{activated}" class="custom-control-input" onchange="changeStatus(this)" id="activated">
											<label class="custom-control-label" for="activated" th:text="*{activated} ? #{yes} : #{no}"></label>
										</div>
									</div>
									<div class="form-group col">
										<label for="showInCarousel" th:text="#{showInCarousel}">Show In Carousel</label>
											<div class="custom-control custom-switch">
											<input type="checkbox" th:field="*{showInCarousel}" class="custom-control-input" onchange="changeStatus(this)" id="showInCarousel">
											<label class="custom-control-label" for="showInCarousel" th:text="*{showInCarousel} ? #{yes} : #{no}"></label>
										</div>
									</div>
								</div>
								<div class="form-group">
									<label for="promoCategory" th:text="#{promoCategory}">Promo Category</label>
									<select class="custom-select" th:field="*{promoCategory}">
										<option th:each="cat: ${promoCategories}" th:value="${cat}" th:text="${cat.name}">Role</option>
									</select>
								</div>
								<div class="form-group" th:if="${promo.imageContentType}">
									<label for="image" th:text="#{image}">Image</label>
									<div class="d-block overflow-auto">
										<img class="border p-1" alt="image" th:style="|width:${promo.imageWidth};height:${promo.imageHeight};|" th:src="${@base64Service.getString(promo.imageBytes, promo.imageContentType)}" />
									</div>
								</div>
								<div class="form-group">
									<div class="custom-file">
										<input type="file" class="custom-file-input" id="file" name="file" onchange="showImage(this)">
									  	<label class="custom-file-label" th:text="#{chooseFile}"></label>
									</div>
								</div>
								<div class="form-group" id="preview-image" style="display: none;">
									<img class="border p-1" width="100%" alt="imageString" src="" />
								</div>
								<div th:replace="fragment/audit.html :: content(${promo})"></div>
								<div class="mt-3">
									<a class="btn btn-sm btn-secondary px-3" th:href="@{/promo}">
										<span class="icon-left"></span> <span th:text="#{back}"></span>
									</a>
									<button class="btn btn-sm btn-primary px-3" type="submit" th:if="${isMaker}">
										<span class="icon-floppy"></span> <span th:text="#{save}"></span>
									</button>
								</div>
							</form>
						</div>
					</div>
				</div>
		</div>
	</div>
	<div th:replace="fragment/footer.html :: content"></div>
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>