<!doctype html>
<html lang="en" th:lang="${#locale.toString() == 'in' ? 'id' : #locale}" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragment/head.html :: content(title=|#{application.name} : #{promo}|)"></head>

<body data-menu="promo">
	<div id="jsDate" th:text="${@settingService.jsDate()}" class="hidden"></div>
	<div id="jsDatetime" th:text="${@settingService.jsDatetime()}" class="hidden"></div>
    <!-- NAVBAR -->
    <div id="navbar" th:replace="fragment/navbar.html :: #navbar"></div>
    <div id="content-box" th:with="isMaker=${#authorization.expression('hasAuthority(''PROMO_MK'')')}">
		<!-- BREADCRUMB -->
		<nav aria-label="breadcrumb">
			<ol class="breadcrumb">
				<li class="breadcrumb-item"><a href="/home/home-view.html" th:href="@{/}" th:text="#{home}">Home</a></li>
				<li class="breadcrumb-item"><a href="/promo/promo-view.html" th:href="@{/promo}" th:text="#{promo}">Role</a></li>
				<li class="breadcrumb-item active" aria-current="page" th:text="#{form}">Form</li>
			</ol>
		</nav>
        <div id="main-content">
			<!-- MESSAGE -->
			<div class="border alert alert-light text-center" role="alert" th:if="${error}">
                <span class="icon-attention"></span> <span th:text="${error}">Data ['xxxx'] is not found</span>
            </div>
			<!-- FORM -->
			<th:block th:if="${promo}">
				<form action="/promo/promo-view.html" th:action="@{/promo}" th:object="${promo}" method="post" autocomplete="off" enctype="multipart/form-data">
					<div class="row" th:object="${promo}">
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<label for="code" th:text="|#{code} *|">Code *</label>
								<input class="form-control" th:classappend="${#fields.hasErrors('code') ? 'is-invalid' : ''}" type="text" th:placeholder="#{code}" th:field="*{code}" maxlength="40" />
								<div class="invalid-feedback" th:if="${#fields.hasErrors('code')}" th:uerrors="*{code}">Error</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<label for="promoCategory" th:text="#{promoCategory}">Promo Category</label>
								<select class="custom-select" th:field="*{promoCategory}">
									<option th:each="cat: ${promoCategories}" th:value="|${cat.id}${cat.name}|" th:text="${cat.name}">Promo Category</option>
								</select>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<label for="title" th:text="|#{title} *|">Title *</label>
								<textarea class="form-control" th:classappend="${#fields.hasErrors('title') ? 'is-invalid' : ''}" th:field="*{title}" rows="2" maxlength="255"></textarea>
								<div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:uerrors="*{title}">Error</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-6 col-lg-6 col-xl-6">
							<div class="form-group">
								<label for="description" th:text="#{description} + ' *'">Description *</label>
								<textarea class="form-control" th:classappend="${#fields.hasErrors('description') ? 'is-invalid' : ''}" th:field="*{description}" rows="2" maxlength="255"></textarea>
								<div class="invalid-feedback" th:if="${#fields.hasErrors('description')}" th:uerrors="*{description}">Error</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="form-group" th:classappend="${#fields.hasErrors('content') ? 'is-invalid' : ''}">
								<label for="content" th:text="#{content} + ' *'">Content *</label>
								<textarea class="form-control" id="content" th:field="*{content}" rows="6"></textarea>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
							<div class="form-group" th:classappend="${#fields.hasErrors('termAndCondition') ? 'is-invalid' : ''}">
								<label for="termAndCondition" th:text="#{termAndCondition} + ' *'">Term And Condition *</label>
								<textarea class="form-control" id="termAndCondition" th:field="*{termAndCondition}" rows="6"></textarea>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-10">
                            	<div class="row">
	                            	<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
	                            		<div class="form-group">
	                            			<label for="startPeriodDate" th:text="|#{startPeriod} *|">Start Period *</label>
	                            			<div id="startPeriodDate"></div>
	                            		</div>
	                            	</div>
                            		<div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            			<div class="form-group">
	                            			<label for="endPeriodDate" th:text="|#{endPeriod} *|">End Period *</label>
	                            			<div id="endPeriodDate"></div>
	                            		</div>
                            		</div>
                            	</div>
                   		</div>
					</div>
					<div class="row">
						<div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3">
							<div class="custom-control custom-switch mb-3">
								<input type="checkbox" id="activated" th:field="*{activated}" class="custom-control-input">
								<label class="custom-control-label" for="activated" th:text="#{activated}">Activated</label>
							</div>
						</div>
						<div class="col-12 col-sm-5 col-md-5 col-lg-4 col-xl-3">
							<div class="custom-control custom-switch mb-3">
								<input type="checkbox" id="showInCarousel" th:field="*{showInCarousel}" class="custom-control-input">
								<label class="custom-control-label" for="showInCarousel" th:text="#{showInCarousel}">Show In Carousel</label>
							</div>
						</div>
					</div>		
					<div class="row">
						<div class="col-12" th:if="*{id != null}">
							<div class="form-group">
								<label for="image" th:text="#{image}">Image</label>
								<div class="d-block overflow-auto">
									<img class="border p-1" alt="image" src="/image/500x200.png" th:src="@{|/image/${promo.id}|}" />
								</div>
							</div>
						</div>
						<div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
							<div class="form-group">
								<div class="custom-file">
									<input type="file" accept="image/png,image/jpg,image/jpeg" class="custom-file-input" th:classappend="${#fields.hasErrors('multipartFileImage') ? 'is-invalid' : ''}" id="multipartFileImage" name="multipartFileImage" onchange="ImageUtil.show(this)">
									<label class="custom-file-label" th:text="#{chooseImageFile}"></label>
									<div class="invalid-feedback" th:if="${#fields.hasErrors('multipartFileImage')}" th:uerrors="*{multipartFileImage}">Error</div>
								</div>
							</div>
						</div>
						<div class="col-12">
							<div class="form-group" id="preview-image" style="display: none;">
								<div class="d-block overflow-auto">
									<img class="border p-1" alt="image" src="" />
								</div>
							</div>
						</div>
					</div>
					<!-- HIDDEN -->
                    <input type="hidden" id="id" th:field="*{id}" th:if="*{id != null}"/>
                    <input type="hidden" th:field="*{startPeriod}"/>
                    <input type="hidden" th:field="*{endPeriod}"/>
                    <input type="hidden" th:field="*{createdBy}"/>
                    <input type="hidden" th:field="*{createdDate}"/>
                    <input type="hidden" th:field="*{lastModifiedBy}"/>
                    <input type="hidden" th:field="*{lastModifiedDate}"/>
					<!-- TOOLBAR -->
					<div class="toolbar">
						<a class="btn btn-light" href="/promo/promo-view.html" th:href="@{/promo}">
							<span class="icon-left" th:text="#{back}">Back</span>
						</a>
						<button class="btn btn-light text-primary" type="submit" th:if="${isMaker && (promo.pending == null || !promo.pending)}">
							<span class="icon-floppy" th:text="#{save}">Save</span>
						</button>
					</div>
				</form>
			</th:block>
        </div>
        <!-- FOOTER -->
        <div id="footer" th:replace="fragment/footer.html :: #footer"></div>
    </div>
    <!-- SIDENAV -->
    <div id="sidenav-box" th:replace="fragment/sidenav.html :: #sidenav-box"></div>
    <!-- SCRIPTS -->
    <div th:replace="fragment/scripts.html :: content"></div>
</body>

</html>
