<!doctype html>
<html 
	th:with="isMaker=${#authorization.expression('hasAuthority(''ORDER_MK'')')}"
	xmlns:th="http://www.thymeleaf.org" 
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" 
	layout:decorate="~{layout/layout}">

<head>
    <title th:text="|#{priviledge} - #{order}|">Priviledge - Order</title>
</head>

<body data-menu="priviledgeorder">
	<nav aria-label="breadcrumb" layout:fragment="breadcrumb">
		<ol class="breadcrumb">
 			<li class="breadcrumb-item"><a th:href="@{/}" th:text="#{home}">Home</a></li>
   			<li class="breadcrumb-item active" aria-current="page" th:text="|#{priviledge} - #{order}|">Priviledge - Order</li>
		</ol>
	</nav>
	<div layout:fragment="content">
		<div th:replace="fragment/search.html :: content('/priviledgeorder', |#{itemName}, #{email}, #{customerName}|, false)"></div>
   		<div class="table-responsive border border-top-0" th:if="${page.getTotalElements() > 0}">
			<table class="table table-sm table-striped table-hover border-bottom" style="min-width: 400px;">
				<thead>
                	<tr th:with="ascending=${order.getDirection().name() == 'ASC'}">
                   		<th style="width:40px"></th>
                      	<th style="width:40px">#</th>
                      	<th th:with="sort=|&sort=createdDate,${ascending ? 'DESC' : 'ASC'}|">
                        	<a th:href="@{|?page=${page.getNumber()}${params}${sort}|}" class="text-decoration-none">
                            	<span th:text="#{date}">Date</span> <span th:classappend="${ascending} ? 'icon-up' : 'icon-down'"></span>
                       		</a>
                       	</th>
                       	<th th:text="#{itemName}">Item Name</th>
                       	<th th:text="#{point}">Item Point</th>
                       	<th th:text="#{email}">Email</th>
                       	<th th:text="#{customerName}">Customer Name</th>
               		</tr>
				</thead>
				<tbody th:remove="all-but-first">
					<tr th:each="priviledgeorder,row : ${page}">
						<td class="p-0">
							<div class="dropdown">
								<button type="button" class="btn btn-default dropdown-toggle" id="dropdownMenuButton" data-boundary="window" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									<span class="icon-cog"></span>
								</button>
								<div class="dropdown-menu py-0 shadow-sm" aria-labelledby="dropdownMenuButton">
									<a class="dropdown-item pl-1" th:href="@{|/priviledgeorder/${priviledgeorder.id}/detail|}">
										<span class="icon-eye"></span> <span th:text="#{detail}">Detail</span>
                              		</a>
								</div>
							</div>
						</td>
						<td th:text="${row.count + (page.number * page.size)}">1</td>
						<td><span th:data-date="${@dateService.jsDatetime()}" th:text="${priviledgeorder.createdDate}">2019-05-01T21:24:44Z</span></td>
						<td th:text="${priviledgeorder.itemName}">Item Name</td>
						<td th:text="${priviledgeorder.itemPoint * priviledgeorder.itemQuantity}">Item Point</td>
						<td th:text="${priviledgeorder.customer.email}">Email</td>
						<td th:text="|${priviledgeorder.customer.firstName} ${priviledgeorder.customer.lastName}|">Customer Name</td>
					</tr>
				</tbody>
			</table>
		</div>
     	<div th:replace="fragment/not-found.html :: content"></div>
		<div th:replace="fragment/pager.html :: content"></div>
		<div th:replace="fragment/toast.html :: content"></div>
		<div th:replace="fragment/delete-modal.html :: content"></div>
	</div>
</body>

</html>